<div class="register-form">
    <div class="alert alert-danger" v-if="registerError">{{registerError}}</div>

    <form method="post" v-on:submit.prevent="submit()">
        <div class="input-wrapper">
            <input type="text" v-model="name" placeholder="Name" />
        </div>
        <div class="input-wrapper">
            <input type="text" v-model="login" placeholder="Email" />
        </div>
        <div class="input-wrapper">
            <input type="password" v-model="pass" placeholder="Password" />
        </div>
        <div class="input-wrapper">
            <input type="password" v-model="repeatPass" placeholder="Repeat password" />
        </div>

        <div class="input-wrapper">
            <div class="g-recaptcha" id="reg-g-recaptcha" data-sitekey="6LcwJ_8SAAAAAL2SgH-NYduvEp9DLUlndHrlMs7Z"></div>
        </div>

        <button class="btn btn-primary">Register</button>
    </form>

    <loading v-if="loading"></loading>
</div>