.seo {
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 0.9rem;
    width: 90%;
    margin: 0 auto;
    color: #ddd;

    @media (max-width: 425px) {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}