$game-block-height: 150px;
$game-block-height-button: 38px;
$game-block-height-full: ($game-block-height + $game-block-height-button);

.home {
    .view-all {
        text-transform: uppercase;
        margin: 0 auto;
    }

    .blog-home-page {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;

        .block-content {
            background-color: #f5f5dc;
            @include clearfix();
        }

        .small-blog-block {
            float: left;
            width: 24%;
            min-height: 150px;
            margin-right: 1%;
            position: relative;

            @media (max-width: 768px) {
                float: none;
                width: auto;
                margin-right: 0;
            }

            .blog-link-wrapper {
                cursor: pointer;
                display: block;
            }

            .title {
                border-top: 1px solid #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.9);
                padding: 5px 10px 10px 10px;
                text-overflow: ellipsis;
                max-height: 100px;
                width: 100%;

                @media (max-width: 768px) {
                    margin: 0;
                }
            }

            .dates {
                position: absolute;
                top: 10px;
                left: 0;
                text-align: center;
                font-size: 1rem;
                font-weight: bold;
                padding: 0.5rem;
                color: #fff;
                background: linear-gradient(to bottom, #27c6d0 0%, #217fbb 100%);
                opacity: 0.85;
            }

            .image-holder {
                background-color: #444;
                height: 170px;
                overflow: hidden;
                margin-bottom: 10px;

                @media (max-width: 768px) {
                    width: auto;
                }

                > div {
                    background-size: cover;
                    background-position: center center;
                    height: 170px;
                }

                p {
                    display: block;
                    padding-top: 75px;
                    color: #fff;
                    font-weight: bold;
                    text-align: center;
                }

                img {
                    max-width: 275px;
                    max-height: 170px;
                }
            }

            &:nth-last-child(1) {
                margin-right: 0;
            }
        }
    }

    .home-games-categories {
        width: 100%;
        display: flex;

        @media (max-width: 768px) {
            display: block;
        }
        
        .block-content {
            width: 50%;
            background-color: #222;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        h2 {
            color: #eee;
        }

        .game-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width: 425px) {
                .view-all {
                    margin-top: 10px;
                }
            }

            .game-available-count {
                position: absolute;
                top: 0.2em;
                right: 0.4em;
                font-size: 2em;
                color: #fff;
                text-shadow: 2px 2px 1px #000;
            }
        }

        $game-block-width: 23%;
        .game-block {
            width: $game-block-width;
            box-shadow: inset 0px 0px 180px -12px rgba(0, 0, 0, 100);
            height: $game-block-height;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 5px 50px 5px;
            position: relative;
            box-sizing: border-box;

            @media (max-width: 768px) {
                width: 31.8%;
            }

            $game-block-width-mobile: 49%;
            @media (max-width: 425px) {
                width: $game-block-width-mobile;
                height: $game-block-height - 100;
                margin: 1px;

                &:first-child {
                    width: 98.5%;
                    margin: 0 1px;
                }

                /* &:first-child {
                    width: $game-block-width-mobile;
                    margin: 1px;
                } */
            }

            .btn {
                text-overflow: ellipsis;
                overflow: hidden;
                
                @media (max-width: 768px) {
                    font-size: 0.9rem;
                }

                @media (max-width: 425px) {
                    display: none;
                }
            }

            &:hover .btn {
                height: $game-block-height-full;
                background-color: rgba(255, 255, 255, 0.7);
                color: #000;
                transition: all 0.5s ease;
                font-size: 1.3rem;
                white-space: unset;

                @media (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }
        }

        .view-tournament {
            position: absolute;
            bottom: -$game-block-height-button;
            left: 0;
            width: 100%;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            cursor: pointer;
            height: $game-block-height-button;

            @media (max-width: 768px) {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .game-lol {
            background-image: url("../dist/assets/images/lol-logo-big.png");
            background-color: #5bc0de;
        }

        .game-hs {
            background-image: url("../dist/assets/images/hs-logo-big.png");
            background-color: #ec971f;
        }

        .game-hots {
            background-image: url("../dist/assets/images/hots-logo-big.png");
            background-color: #9b4fe2;
        }

        .game-ow {
            background-image: url("../dist/assets/images/ow-logo-big.png");
            background-color: #636c72;
        }

        .game-rl {
            background-image: url("../dist/assets/images/rl-logo-big.png");
            background-color: #023;
        }

        .game-cs {
            background-image: url("../dist/assets/images/cs-logo-big.png");
            background-color: #222;
        }

        .game-dota {
            background-image: url("../dist/assets/images/dota-logo-big.png");
            background-color: #800000;
        }
    }

    .tournaments-latest {
        background-color: #222;

        .event-list-wrapper {
            overflow: auto;
        }

        .event-item:last-child {
            border-bottom: none;
        }

        h2 {
            color: #eee;
        }
    }

    .watch-tournaments {
        width: 100%;

        .block-content {
            background-color: #222;
        }

        h2 {
            color: #eee;
        }

        .watch-item {
            @extend .event-item;
            background-color: #ffe988;

            .watch-dates {
                min-width: 300px;
            }

            .event-status .live {
                display: inline-block;
                border-radius: 50%;
                background-color: #f00;
                width: 0.85rem;
                height: 0.85rem;
            }

            &.live {
                background-color: #b0ff88;
            }
        }
    }
}