<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Hello <b>%name%</b><br />
<br />
This is just a friendly reminder. Hearthstone tournament will start in 24h!<br />
<b>You must check-in 1 hour before tournaments starts and complete the procedure! <span style="color: red;">Or you will be considered as offline participant!</span></b><br />
<br />
Your profiler in case if you need to change your heroes or battle tag: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a><br />
<br />
See you in 24 hours,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>

</div>

</body>
</html>