<div style="font-size: 15px; font-family: Arial;">

Hello <b>%name%</b>.<br />
<br />
This is just a friendly reminder. Tournament will start in 1h! If you're still not ready, HURRY UP :)<br />
<b>Please don't forget to send us your transaction info to <a href="mailto:info@pcesports.com">info@pcesports.com</a> if you were not using Swedbank, because transaction can take long time to deliver and you won't be registered for the tournament!</b>
If you will be little late, you can always make a phone call!<br />
<br />
Your profiler: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a><br />
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i><br />
    <i>phone: +37129788896</i>
</div>

</div>