<div style="font-size: 15px; font-family: Arial;">

Good day!<br />
<br />
As one of the participant of our previous tournaments we would like to inform you that this saturday (24th of May) at 10:00 (GMT-0) our Hearthstone tournament #4 is going to happen.<br />
<br />
By the way, our new website was launched a week ago and new functionality was added for participants, come see us and share you thoughts what we can improve<br />
We are improving, our stream got a nicer and we plan to make prizes even higher!<br />
<br />
Your email was now transferred to subscription database and you will be notified every time about our next tournament. If you don't want to receive any more messages from us, please use link bellow to unsubscribe<br />
<br />
But if you would like to be awesome and participate, join our tournament on page <a href="http://www.pcesports.com/en/hearthstone/4" target="_blank">http://www.pcesports.com/en/hearthstone/4</a><br />
<br />
<span style="font-size: 12px; color: #222;">If you don't want to receive this emails in the future, please click link <a href="%unsublink%" target="_blank">unsubscribe</a></span><br />
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>

</div>