<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Good day!<br />
<br />
As one of the participant of our previous tournaments we would like to inform you that this Saturday our League of Legends EUW tournament #7 is going to happen.<br/>
<br />
If you would like to be awesome and participate, join our tournament on page <a href="http://www.pcesports.com/en/leagueoflegends/euw/7" target="_blank">http://www.pcesports.com/en/leagueoflegends/euw/7</a><br/>
<br />
<span style="font-size: 12px; color: #222;">If you don't want to receive emails from us in the future, please follow this link <a href="%unsublink%" target="_blank">unsubscribe</a></span><br/>
<span style="font-size: 12px; color: #222;">If you want to receive emails only about specific events, then login in to your <a href="%url%/en/profile" target="_blank">profile</a> and pick option that suits you.</span><br/>
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>

</div>

</body>
</html>