<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Congratulations <b>%name%</b> for winning %place% place.<br />
<br />
We want to thank you for participating in our tournament, you rock! We hope to see you participating in our next tournaments as well.<br />
Now to the best part, for winning %place% place you all get %prize% on your %server% account.<br />
Please keep in mind, that prize can take up to 3 weeks to be delivered to all of you guys. If 3 weeks going to pass and you won't receive any prize, please contact us immediately by email.<br />
Also in those 3 weeks players who must receive prize <b>MUST NOT change</b> his nickname or move to another region (euw->eune for example). Because in that case, player won't receive anything.<br />
<br />
Here is a list of players that suppose to receive prizes and who participated in the last fight of the tournament:<br />
<b>%playerList%</b><br />
%additionalPrice%
<br />
If you would like to leave a review and rate our tournament, you can use this link <a href="http://leagueoflegends.events.sgizmo.com/s3/?event=%subscriptionNumber%" target="_blank">http://leagueoflegends.events.sgizmo.com/s3/?event=%subscriptionNumber%</a><br />
<br />
<br />
Thank you for participation and hope to see you sometime again!<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>

</div>

</body>
</html>