<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Hello <b>%name%</b><br />
<br />
This is just a friendly reminder. League of Legends tournament will start in 1 hour!<br />
<b>You can now login and check in. If you won't going to do it before tournament starts <span style="color: red;">you will be considered as offline participant!</span></b><br />
<br />
Your profiler in case if you need to change your team mates: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a><br />
<b><span style="color: red;">You won't be able to change team mates after the tournament already started!!!</span>. So adjust team accordingly and really carefully!</b>
<br />
See you on the fields of justice<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>

</div>

</body>
</html>