<div>
Congratulations %name% for winning %place% place.<br />
<br />
We want to thank you for participating in our tournament, you rock! We hope to see you participating in our next tournaments as well.<br />
Now to the best part, for winning 1st place you all get %prize% on your %server% account.<br />
Please keep in mind, that prize can take up to 3 weeks to be delivered to all of you guys. If 3 weeks going to pass and you won't receive any prize, please contact us immediately by email.<br />
Also in those 3 weeks players who must receive prize MUST NOT change his nickname or move to another region (euw->eune for example). Because in that case, player won't receive anything.<br />
<br />
Here is a list of players that suppose to receive prizes and who participated in the last fight of the tournament:<br />
%playerList%<br />
<br />
If you would like to leave a review and rate our tournament, you can use this link http://leagueoflegends.events.sgizmo.com/s3/?event=%subscriptionNumber%<br />
<br />
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i><br />
    <i>phone: +37129788896</i>
</div>

</div>