Hello <b>%name%</b><br />
Your were successfully registered in the Pentaclick Hearthstone League tournament.<br />
<b>Tournament will take place <a href="https://www.google.lv/maps/dir//Aleksandra+%C4%8Caka+iela+32,+R%C4%ABga,+LV-1011/@56.9522155,24.1288135,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x46eece32a29775a5:0xe2ccfda7af0e2fd!2m2!1d24.1289744!2d56.952043" target="_blank">HERE</a></b><br />
All required instructions to move forward will be written on your profile link.<br />
<br />
<b>Profile link: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a></b><br />
<br />
<b>Please don't forget to be on time, read League rules, pay for participation and UNLOCK YOUR BATTLE.NET accounts. Or just remember your Secret Answer for your question.</b><br />
<p style="color: red;">Use link carefully, don't display it to public and don't give it to anyone else!</p>
<br />
If you want to contact Pentaclick eSports managers, just reply to this email or visit our website <a href="%href%" target="_blank">%href%</a><br />
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i><br />
    <i>phone: +37129788896</i>
</div>