Hello <b>%name%</b><br />
Your were successfully registered in the Pentaclick LAN Hearthstone tournament.<br />
<b>Tournament will take place <a href="https://www.google.lv/maps/dir//56.9530431,24.1304703/@56.953027,24.1306837,16z/data=!4m3!4m2!1m0!1m0" target="_blank">HERE</a></b><br />
All what is left for you to do is to verify your participation by click a link below.<br />
<br />
<b>Verification and Profile link: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a></b><br />
<br />
<b>Please don't forget to be on time and read LAN rules.</b><br />
<p style="color: red;">Use link carefully, don't display it to public and don't give it to anyone else!</p>
<br />
If you want to contact Pentaclick eSports managers, just reply to this email or visit our website <a href="%href%" target="_blank">%href%</a><br />
<br />
Best regard.<br />
Pentaclick eSports