<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Sveiki <b>%name%</b><br />
<br />
Apsveicu, jūs esat reģistrēti Jelgava Fifa Tournament. Jūms vajag apmaksāt piedalījumu līdz 30. septembrim.<br />
Konta informācija:<br />
Swedbank LV45HABA0551033763452<br />
Vārds, Uzvārds: ŅIKITA MIHAILOVS<br />
<br />
Neaizmirstiet pievienot savu Nickname, Vārdu, Uzvārdu apmaksās komentāros.<br />
<br />
Papildinformāciju jūs varat saņemt uzrakstot uz mileit22@gmail.com.<br />
Gaidam jūs mūsu pasākumā!
<br />
Wish you all the best!<br />
Ņikita Mihailovs un Pentaclick eSports
</div>

</body>
</html>