Hello <b>%name%</b><br />
Your were successfully registered in the Pentaclick Smite tournament.<br />
All what is left for you to do is to verify your participation by click a link below.<br />
Please notice, that this verification link is also a link to your profiler. Where you can delete it to leave the tournament and where you going to receive link to battle chat with your opponent.<br />
<br />
<b>Verification and Profile link: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a></b><br />
<br />
<b>Don't forget to login into your profiler when tournament starts! <span style="color: red;">Or you will be considered as offline team!</span></b><br />
<p style="color: red;">Use link carefully, don't display it to public and don't give it to anyone else!</p>
<br />
If you want to contact Pentaclick eSports managers, just reply to this email or visit our website <a href="%href%" target="_blank">%href%</a><br />
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>