<div style="font-size: 15px; font-family: Arial;">

Hello <b>%name%</b>.<br />
<br />
This is just a friendly reminder. Tournament will start in 24h! 10:00 GMT0<br />
<b>We implemented NEW SYSTEM "Check-in". So you must check-in 1 hour before tournaments starts and complete the procedure! <span style="color: red;">Or you will be considered as offline participant!</span></b><br />
<br />
Your profiler: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a><br />
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i><br />
    <i>phone: +37129788896</i>
</div>

</div>