<div style="font-size: 15px; font-family: Arial;">

Hello <b>%name%</b>.<br />
<br />
This is just a friendly reminder. Tournament will start in 1 hour! Today at 12:00 CST.<br />
<b>You can now login and check in. If you won't going to do it before tournament starts <span style="color: red;">you will be considered as offline participant!</span></b>
<br />
Your profiler: <a href="%url%/participant/%teamId%/%code%/" target="_blank">%url%/participant/%teamId%/%code%/</a><br />
<br />
Best regards,<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i><br />
    <i>phone: +37129788896</i>
</div>

</div>