<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Hey You!<br />
Yes You! Thank you for registering! You're awesome! :)<br />
<br />
If you just registered on Pentaclick website, all what is left for you to do to complete registration is to proceed by clicking link: <a href="%url%" target="_blank">%url%</a><br />
Please remember, that this link will be available only for 24h since your registration. If you won't complete registration in that time, just register again and wait for the exact same email with new link.<br />
<br />
Oh and if you received this email by mistake, then please ignore it.<br />
<br />
Wish you all of the best and bye!<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>

</div>

</body>
</html>