/* Project variables */
$mainColor: #5587e4;
$secondaryColor: #e5dc2d;
$font: 'Open Sans';
$bgColor: #000;
$mobileSize: 768px;
$assets: "@assets";
$defaultBorderRadius: 8px;

/* Boostrap variables */
$link-decoration: none;
$link-hover-decoration: none;
$link-color: $mainColor;
$link-hover-color: #bbb;
$font-family-base: $font;
$nav-link-padding: 0;
$table-border-width: 0;
$nav-link-padding-y: 0;
$nav-link-padding-x: 0;