<!DOCTYPE html>
<html lang="<?=_cfg('language')?>">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="<?=$this->data->settings['site_description']?>" />
    <meta name="keywords" content="<?=$this->data->settings['site_keywords']?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<?=$this->title?><?=$this->data->settings['site_name']?>" />
    <meta property="og:description" content="<?=(isset($this->seoData->ogDesc)?$this->seoData->ogDesc:null)?>" />
    <meta property="og:image" content="<?=$this->seoData->ogImg?>" />
    <meta property="og:url" content="<?=_cfg('site').$_SERVER['REQUEST_URI']?>" />
    
    <title><?=$this->title?><?=$this->data->settings['site_name']?></title>
    
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600&amp;subset=latin' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="<?=_cfg('site')?>/favicon.ico" />
    
    <link rel="stylesheet" type="text/css" href="<?=_cfg('static')?>/css/combined.css?v=1.56" />
</head>

<body class="<?=$this->data->mood?>">

<script src="<?=_cfg('static')?>/js/ads.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
<script src="<?=_cfg('static')?>/js/angular-combined.js?v=1.2"></script>
<script src="<?=_cfg('static')?>/js/scripts.js"></script>
<script src="<?=_cfg('static')?>/js/vue.js"></script>

<script>
var g = {
    site: '<?=_cfg('site')?>',
    logged_in: <?=($this->logged_in?1:0)?>,
};
</script>

<header>
    <div class="burger"></div>

    <a href="<?=_cfg('href')?>" class="logo"><img src="<?=_cfg('img')?>/logo.png" /></a>
    
    <? /*if ($this->logged_in == 1) { ?>
        <ul class="nav-user">
            <?
            if ($this->data->links) {
                foreach($this->data->links as $v) {
                    if ($v->logged_in == 1 && $v->main_link == 0 && $v->block == 1) {
                    ?>
                    <li class="nav-link" id="<?=$v->link?>">
                        <div class="nav-avatar"><a href="<?=_cfg('href')?>/<?=str_replace('%user%', $this->data->user->name, $v->link)?>"><img src="<?=_cfg('avatars')?>/<?=$this->data->user->avatar?>.jpg" /></a></div>
                        <a href="<?=_cfg('href')?>/<?=str_replace('%user%', $this->data->user->name, $v->link)?>">
                            <?=$this->data->user->name?><?//=t($v->value)?>
                            <p><?=t('points')?>: <span class="achievementsPoints"><?=$this->data->user->experience?></span></p>
                        </a>
                        <ul class="nav-sub">
                        <?
                        if ($v->sublinks) {
                            foreach($v->sublinks as $v2) {
                                ?>
                                <li class="nav-sublink" id="<?=$v2->link?>">
                                    <a href="<?=_cfg('href')?>/<?=$v2->link?>"><?=t($v2->value)?></a>
                                </li>
                                <?
                            }
                        }
                        ?>
                            <li class="nav-sublink" id="logout">
                                <a href="<?=_cfg('site')?>/run/logout"><?=t('logout')?></a>
                            </li>
                        </ul>
                    </li>
                    <?
                    }
                }
            }
            ?>
        </ul>
        
    <? } else {*/ ?>
        <? if ($this->page == 'restoration') { ?>
            <a class="login" href="<?=_cfg('href')?>">
        <? } else { ?>
            <div class="login">
        <? } ?>

            <span><?=t('login_register')?></span>
            <span class="mobile"><?=t('login')?></span>
            <div class="usericon"></div>

        <? if ($this->page == 'restoration') { ?>
            </a>
        <? } else { ?>
            </div>
        <? } ?>
    <? //} ?>
    
    <nav>
        <div class="navbar-inner">
            <ul class="nav">
                <? foreach($this->data->links as $link) { ?>
                <li class="nav-link <?=$link['css_classes']?>">
                    <a href="<?=$link['url']?>" target="<?=$link['target']?>"><?=$link['title']?></a>

                    <? if ($link['sublinks']) { ?>
                        <ul class="nav-sub">
                        <? foreach($link['sublinks'] as $sublink) { ?>
                            <li class="nav-sublink <?=$sublink['css_classes']?>">
                                <a href="<?=$sublink['url']?>" target="<?=$sublink['target']?>"><?=$sublink['title']?></a>
                            </li>
                        <? } ?>
                        </ul>
                    <? } ?>
                </li>
                <? } ?>
            </ul>
        </div>
    </nav>

    <? if ($this->data->mood == 'winter') { ?>
    <ul class="snow">
        <li>Snow Effect 1</li>
        <li>Snow Effect 2</li>
    </ul>
    <div class="lights"></div>
    <? } ?>
</header>

<section class="page">