.events {
    .block-content {
        background-color: #222;
        
        h2 {
            color: #fff;
        }
    }

    .event-list-wrapper {
        background-color: #f5f5dc;
        width: 100%;
        overflow-x: auto;

        @media (max-width: 1060px) {
            overflow-x: scroll;
        }
    }

    .event-none {
        font-style: italic;
        text-align: center;
        padding: 10px 0;
        font-size: 1.1rem;
    }

    .load-more {
        margin: 2rem auto;
        display: flex;
        cursor: pointer;
    }

    .event-table-notification {
        display: none;
        @media (max-width: 860px) {
            display: block;
        }
    }
}