.event-details {
    .block-content {
        width: 90%;
        margin: 0 auto;
        background-color: #222;
        color: #fff;

        @media (max-width: 768px) {
            width: 100%
        }
    }

    .event-details-header {
        display: flex;
        align-items: center;

        h1 {
            width: 50%;
            text-align: center;
            padding: 0 1rem;
            margin: 0;
            word-wrap: break-word;

            @media (max-width: 768px) {
                font-size: 2rem;
            }

            @media (max-width: 425px) {
                padding-bottom: 10px;
                font-size: 1.3rem;
            }
        }

        .game-image {
            width: 50%;
            padding: 0 1rem;
            img {
                width: 100%;
            }
        }
    }

    .event-details-wrapper {
        display: flex;

        @media (max-width: 425px) {
            display: block;
        }

        h4 {
            border-bottom: 1px solid #eee;
            padding-bottom: 0.5rem;
        }

        .event-details-data {
            width: 50%;
            margin-right: 1rem;

            @media (max-width: 425px) {
                width: 95%;
                margin: 0 auto;
            }
        }

        .event-additiona-data {
            display: flex;
            justify-content: space-between;

            > div {
                width: 50%;
                padding: 0 1rem;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }

            .event-links a {
                display: block;
                font-size: 1.3rem;
                @media (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }
        }

        .event-description {
            border: 1px solid #eee;
            padding: 1rem;
            margin-left: 1rem;
            width: 50%;
            font-size: 0.9rem;
            overflow: hidden;

            @media (max-width: 425px) {
                width: 95%;
                margin: 0.5rem auto 0 auto;
            }

            h4 {
                position: relative;
            }

            p {
                word-wrap: break-word;
            }

            &.editable {
                border: 0;
                padding: 0.2rem;
            }
        }

        .event-details-params {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 2rem;
            
            .event-details-platform {
                position: relative;

                img {
                    max-width: 20px;
                    width: 1.1rem;
                    margin-left: 0.5rem;
                }
            }

            p {
                flex-grow: 1;
                font-size: 0.9rem;
                width: 45%;
                box-sizing: border-box;
                border-bottom: 1px solid #eee;
                margin-right: 1rem;
                word-wrap: break-word;
                
                &:nth-child(2n+2),
                &:last-child {
                    margin-right: 0;
                }
            }

            label {
                font-weight: bold;
            }
        }
    }

    .event-prizes p {
        font-size: 0.9rem;
    }

    .back-btn {
        width: 100%;
        margin: 20px 0 0 0;
        cursor: pointer;

        @media (max-width: 425px) {
            position: fixed;
            bottom: 10px;
            margin: 0;
            width: 95%;
        }
    }

    &.editable {
        .fa-exclamation-circle {
            color: #c00;
            font-size: 2rem;
            position: absolute;
            top: 0;
            right: 0;
        }

        .game-name {
            width: 50%;
            text-align: center;
            padding: 0 1rem;
            margin: 0;
            word-wrap: break-word;
            background-color: transparent;
            color: #fff;
            line-height: 1.1;
            font-family: $font;
            font-size: 2rem;

            @media (max-width: 768px) {
                font-size: 2rem;
            }

            @media (max-width: 425px) {
                padding-bottom: 10px;
                font-size: 1.3rem;
            }
        }

        input,
        select,
        textarea {
            display: block;
            background-color: transparent;
            color: #fff;
            font-family: $font;
            border-top: 1px dotted #aaa;
            border-left: 1px dotted #aaa;
            border-right: 1px dotted #aaa;
            border-bottom: 0;
            width: 100%;
            overflow: hidden;
            
            option {
                color: #000;
            }
        }

        textarea {
            border-bottom: 1px dotted #aaa;
        }

        .games-list {
            width: 50%;
            padding: 0 1rem 0.5rem 1rem;

            .games-list-block {
                display: inline-block;
                padding: 0.5rem;

                &.picked {
                    outline: 2px solid $mainColor;
                }
            }
        }

        .edit-start-date {
            input,
            select {
                display: inline-block;

                option {
                    color: #000;
                }
            }
        }

        .date-wrapper {
            display: flex;
            select {
                width: 33%;
            }
        }

        .event-links {
            .event-link-wrapper {
                margin-bottom: 1rem;
            }

            input {
                font-size: 0.9rem;
                border-bottom: 1px dotted #aaa;
            }
        }

        .buttons-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0 0 0;

            a,
            .btn-wrapper-width {
                width: 48.5%;
            }

            .btn {
                width: 100%;
            }

            .back-btn {
                margin: 0;
                @media (max-width: 425px) {
                    position: initial;
                }
            }
            

            @media (max-width: 425px) {
                position: fixed;
                bottom: 10px;
                margin: 0;
                width: 95%;
            }
        }

        .event-details-platform label {
            display: block;
            margin-bottom: 0.3rem;
        }
    }
}