.event-details {
    .block-content {
        width: 90%;
        margin: 0 auto;
        background-color: #222;
        color: #fff;

        @media (max-width: 768px) {
            width: 100%
        }
    }

    .event-details-header {
        display: flex;
        align-items: center;

        h1 {
            width: 50%;
            text-align: center;
            padding: 0 1rem;
            margin: 0;
            word-wrap: break-word;

            @media (max-width: 768px) {
                font-size: 2rem;
            }

            @media (max-width: 425px) {
                padding-bottom: 10px;
                font-size: 1.3rem;
            }
        }

        .game-image {
            width: 50%;
            padding: 0 1rem;
            img {
                width: 100%;
            }
        }
    }

    .event-details-wrapper {
        display: flex;

        @media (max-width: 425px) {
            display: block;
        }

        h4 {
            border-bottom: 1px solid #eee;
            padding-bottom: 0.5rem;
        }

        .event-details-data {
            width: 50%;
            margin-right: 1rem;

            @media (max-width: 425px) {
                width: 95%;
                margin: 0 auto;
            }
        }

        .event-additiona-data {
            display: flex;
            justify-content: space-between;

            > div {
                width: 50%;
                padding: 0 1rem;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }

            .event-links a {
                display: block;
                font-size: 1.3rem;
                @media (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }
        }

        .event-description {
            border: 1px solid #eee;
            padding: 1rem;
            margin-left: 1rem;
            width: 50%;
            font-size: 0.9rem;

            @media (max-width: 425px) {
                width: 95%;
                margin: 0.5rem auto 0 auto;
            }

            p {
                word-wrap: break-word;
            }
        }

        .event-details-params {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 2rem;
            
            .event-details-platform img {
                max-width: 20px;
                width: 1.3rem;
                margin-left: 0.5rem;
            }

            p {
                flex-grow: 1;
                font-size: 0.9rem;
                width: 45%;
                box-sizing: border-box;
                border-bottom: 1px solid #eee;
                margin-right: 1rem;
                word-wrap: break-word;
                
                &:nth-child(2n+2),
                &:last-child {
                    margin-right: 0;
                }
            }

            label {
                font-weight: bold;
            }
        }
    }

    .event-prizes p {
        font-size: 0.9rem;
    }

    .back-btn {
        width: 100%;
        margin: 20px 0 0 0;
        cursor: pointer;

        @media (max-width: 425px) {
            position: fixed;
            bottom: 10px;
            margin: 0;
            width: 90%;
        }
    }
}