<script type="text/x-template" id="event-details-template">
    <div class="event-details">
        <div class="block">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <h2 v-if="!loading">{{game.name}}</h2>

                <div class="" v-if="!loading">
                    <a :href="game.link" target="_blank" title="External source link"><i class="fa fa-external-link"></a>

                    <p>{{game.participants_limit}}</p>
                    <p>{{game.start_datetime}}</p>
                    <p>{{game.meta_data.best_of}}</p>
                    <p>{{game.meta_data.elimination}}</p>
                    <p v-html="game.meta_data.prizes"></p>
                    <p>{{game.meta_data.free}}</p>
                    <p>{{game.meta_data.home_link}}</p>
                    <p>{{game.meta_data.registration_link}}</p>
                    <p v-html="game.meta_data.description"></p>
                    <a :href="game.fbLink" target="_blank" v-if="game.fbLink" title="Facebook"><i class="fa fa-facebook"></a>
                    <a :href="game.ytLink" target="_blank" v-if="game.ytLink" title="Youtube"><i class="fa fa-youtube"></a>
                    <a :href="game.twLink" target="_blank" v-if="game.twLink" title="Twitch"><i class="fa fa-twitch"></a>
                    <a :href="game.dsLink" target="_blank" v-if="game.dsLink" title="Discord"><i class="fa fa-comments"></a>
                </div>
            </div>
        </div>
    </div>
</script>