<script type="text/x-template" id="profile-template">
    <div class="profile">
        <div class="block">
            <div class="block-content semi-widths">
                <loading v-if="loading"></loading>

                <section class="profile-wrapper" v-if="!loading">
                    <h4>Profile</h4>

                    <div class="alert alert-danger" v-if="formError" v-html="formError"></div>

                    <form method="post" v-on:submit.prevent="submit()">
                        <div class="heading-text">This is basic, public information of you, that is displayed to all. Name can be changed, but must be always unique, so if you change it and someone else take it, you wouldn't be able to take it back. Also be careful, if you change your name, link to your public profile will change as well.</div>

                        <div class="input-wrapper input-group form-group"
                            :class="{ error: errorClasses.name }">
                            <div class="input-group-addon fa fa-user"></div>
                            <input class="form-control" type="text" v-model="user.name" placeholder="Name" />
                        </div>

                        <div class="input-wrapper input-group form-group"
                            :class="{ error: errorClasses.battletag }">
                            <div class="input-group-addon icon-battlenet"></div>
                            <input class="form-control" type="text" v-model="user.battletag" placeholder="Battle Tag" />
                        </div>

                        <div class="input-wrapper input-group form-group"
                            :class="{ error: errorClasses.avatar }">
                            <div class="input-group-addon fa fa-picture-o"></div>
                            <div class="holder form-control">
                                <div class="avatars-list">
                                    <div class="avatar-block"
                                        :class="{ picked: user.avatar == i }"
                                        v-for="i in 30"
                                        v-on:click="user.avatar = i">
                                        <img v-bind:src="'/dist/assets/images/avatar/' + i + '.jpg'" />
                                    </div>
                                </div>
                            </div>
                            <input class="form-control" type="hidden" v-model="user.avatar" placeholder="Avatar" />
                        </div>

                        <button class="btn btn-primary btn-lg" :disabled="formLoading">Update profile data</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</script>