.profile {
    .heading-text {
        padding-bottom: 1em;
        font-size: 0.9em;
    }

    .avatars-list {
        padding: 5px 10px 5px 0;

        .avatar-block {
            float: left;
            margin-left: 5px;
            margin-bottom: 5px;
            border: 2px solid #fff;
            height: 50px;
            opacity: 0.5;
            cursor: pointer;

            &.picked,
            &:hover {
                border: 2px solid #1697e1;
            opacity: 1;
            transition: .5s;
            }

            img {
                height: 50px;
            }
        }
    }
}