<script type="text/x-template" id="home-template">
    <div class="home">
        <div class="block home-games-categories">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <h2 v-if="!loading">Choose a game</h2>

                <div class="game-wrapper" v-if="!loading">
                    <router-link
                        :to="game.link"
                        class="game-block"
                        v-for="game in games"
                        v-bind:class="game.cssClass">
                        <button class="btn btn-primary">View {{game.gameName}} events</button>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="block blog-home-page">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <adsense></adsense>

                <h2 v-if="!loading">Latest blogs</h2>

                <div class="small-blog-block" v-for="post in posts" v-if="!loading">
                    <router-link :to="'../article/'+post.slug" class="blog-link-wrapper">
                        <div class="image-holder">
                            <div v-if="post.bg_image" :style="{ backgroundImage: 'url(' + post.bg_image + ')' }"></div>
                            <p v-else>No image</p>
                        </div>
                        <h5 class="title">{{post.title.rendered}}</h5>
                        <div class="dates" v-html="post.date"></div>
                    </router-link>
                </div>

                <router-link
                    :to="'../blog'"
                    class="view-all btn btn-lg btn-secondary">View all blog posts</router-link>
            </div>
        </div>

        <div class="block seo-about">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <div class="seo-content" v-if="!loading">
                    <h1>eSports event catalog for PC games</h1>
                    <p>"PC eSports" provide catalog of game events, played on PC, mostly online, for North America and Europe. Catalog created with the idea to help amateur and semi-pro teams to find tournaments easily on centralized platform. Catalog displaying informations for games such as <router-link :to="'../events/league-of-legends'">League of Legends</router-link>, <router-link :to="'../events/hearthstone'">Hearthstone</router-link> from many platforms such as <a href="http://events.na.leagueoflegends.com/" target="_blank">LoL Events page</a>, <a href="https://battlefy.com/" target="_blank">Battlefy</a>, <a href="https://strivewire.com/" target="_blank">StriveWire</a>, <a href="https://esportswall.com/" target="_blank">eSports Wall</a>, <a href="https://play.eslgaming.com" target="_blank">ESL</a>.</p>
                    <p>For feedback, comment, questions you can always leave feedback on <a href="https://www.reddit.com/r/pcesports/" target="_blank">PC eSports subreddit</a>.</p>
                    <p>PC eSports is not in any way connected to tournament organizers specified in catalog. PC eSports is not responsible for organizers actions and updates that can happen to event.</p>
                </div>
            </div>
        </div>
    </div>
</script>