<script type="text/x-template" id="home-template">
    <div class="home">
        <div class="block home-games-categories">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <h2 v-if="!loading">Choose a game</h2>

                <div class="game-wrapper" v-if="!loading">
                    <router-link
                        :to="game.link"
                        class="game-block"
                        v-for="game in games"
                        v-bind:class="game.cssClass">
                        <button class="btn btn-primary">View {{game.gameName}} events</button>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="block blog-home-page">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <h2 v-if="!loading">Latest blogs</h2>

                <div class="small-blog-block" v-for="post in posts" v-if="!loading">
                    <router-link :to="'../article/'+post.slug" class="blog-link-wrapper">
                        <div class="image-holder">
                            <div v-if="post.bg_image" :style="{ backgroundImage: 'url(' + post.bg_image + ')' }"></div>
                            <p v-else>No image</p>
                        </div>
                        <h5 class="title">{{post.title.rendered}}</h5>
                        <div class="dates" v-html="post.date"></div>
                    </router-link>
                </div>

                <router-link
                    :to="'../blog'"
                    class="view-all btn btn-lg btn-secondary">View all blog posts</router-link>
            </div>
        </div>

        <div class="block seo-about">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <div class="seo-content" v-if="!loading">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo nunc dolor, vel maximus diam lobortis at. Morbi sodales lacus efficitur felis egestas, mollis dictum nisl posuere. Pellentesque pellentesque odio et tortor ornare, quis condimentum enim venenatis. Nulla commodo justo mi, ac hendrerit lectus tincidunt eget. Donec et pulvinar enim, ac lobortis orci. Proin non mauris eget nisi pharetra eleifend. Donec ut sapien et arcu scelerisque aliquet. Morbi fringilla urna id sapien ultricies eleifend. Cras imperdiet dui a nunc efficitur aliquam. In feugiat, dolor id posuere malesuada, mi ex egestas enim, elementum consectetur est urna a arcu. Praesent arcu ex, vehicula faucibus ex nec, lacinia commodo ligula. Aliquam nec ultricies sem. Cras tortor metus, consequat vitae lacus in, interdum interdum nisl.</p>
                    <p>Mauris sit amet metus blandit, lobortis enim sed, porta enim. Proin pulvinar vestibulum suscipit. Duis facilisis nec felis sit amet maximus. Aenean arcu ante, fringilla a iaculis at, tristique quis purus. Nunc suscipit sem quis arcu feugiat, sodales lobortis nibh lobortis. Suspendisse potenti. Quisque pellentesque mollis magna, eu consequat leo. Quisque suscipit fringilla iaculis. In hac habitasse platea dictumst. Duis eleifend erat quis orci fermentum placerat. Morbi in accumsan leo. Duis scelerisque nisl in sollicitudin tincidunt. Proin in felis sem. Etiam eu mollis purus, non porttitor sem. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                </div>
            </div>
        </div>
    </div>
</script>