# hiding all packages files
<Files ~ "(composer.json|composer.lock|composer.phar|Gruntfile.js|package.json|server.js)">
    Order allow,deny
    Deny from all
    Require all denied
</Files>

# Rewritting rules
RewriteEngine On
RewriteBase /

# legacy
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule legacy/?(.*) /legacy.php?params=$1 [L,QSA]
# eol

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# fetching all links params in one variable and breaking it down in index.php
RewriteRule (.*) index.html?params=$1 [L,QSA]