$game-block-height: 150px;
$game-block-height-button: 38px;
$game-block-height-full: ($game-block-height + $game-block-height-button);

.home {
    .view-all {
        text-transform: uppercase;
        margin: 0 auto;
        width: 100%;
    }

    .home-games-categories {
        width: 100%;
        display: flex;

        @media (max-width: 768px) {
            display: block;
        }
        
        .block-content {
            width: 50%;
            background-color: rgba(25, 25, 25, 0.9);

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        h2 {
            color: #eee;
        }

        .game-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width: 425px) {
                .view-all {
                    margin-top: 10px;
                }
            }

            .game-available-count {
                position: absolute;
                top: 0.2em;
                right: 0.4em;
                font-size: 2em;
                color: #fff;
                text-shadow: 2px 2px 1px #000;
            }
        }

        $game-block-width: 45%;
        .game-block {
            width: $game-block-width;
            box-shadow: inset 0px 0px 180px -12px rgba(0, 0, 0, 100);
            height: $game-block-height;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 5px 50px 5px;
            position: relative;
            box-sizing: border-box;

            @media (max-width: 768px) {
                width: 31.8%;
            }

            $game-block-width-mobile: 49%;
            @media (max-width: 425px) {
                width: $game-block-width-mobile;
                height: $game-block-height - 50;
                margin: 1px;

                /* &:first-child {
                    width: 98.5%;
                    margin: 0 1px;
                } */

                &:first-child {
                    width: $game-block-width-mobile;
                    margin: 1px;
                }
            }

            .btn {
                text-overflow: ellipsis;
                overflow: hidden;
                
                @media (max-width: 768px) {
                    font-size: 0.9rem;
                }

                @media (max-width: 425px) {
                    display: none;
                }
            }

            &:hover .btn {
                height: $game-block-height-full;
                background-color: rgba(255, 255, 255, 0.7);
                color: #000;
                transition: all 0.5s ease;
                font-size: 1.3rem;
                white-space: unset;

                @media (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }
        }

        .view-tournament {
            position: absolute;
            bottom: -$game-block-height-button;
            left: 0;
            width: 100%;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            cursor: pointer;
            height: $game-block-height-button;

            @media (max-width: 768px) {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        .game-lol {
            background-image: url("#{$assets}/images/lol-logo-big.png");
            background-color: #5bc0de;
        }

        .game-hs {
            background-image: url("#{$assets}/images/hs-logo-big.png");
            background-color: #ec971f;
        }

        .game-ow {
            background-image: url("#{$assets}/images/ow-logo-big.png");
            background-color: #636c72;
        }

        .game-rl {
            background-image: url("#{$assets}/images/rl-logo-big.png");
            background-color: #023;
        }

        .game-cs {
            background-image: url("#{$assets}/images/cs-logo-big.png");
            background-color: #222;
        }

        .game-dota {
            background-image: url("#{$assets}/images/dota-logo-big.png");
            background-color: #800000;
        }
    }

    .tournaments-lists {
        width: 100%;
        background-color: rgba(25, 25, 25, 0.9);
        display: flex;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        .block-content {
            background-color: transparent;
        }

        h2 {
            color: #eee;
        }

        .tournaments-to-watch,
        .tournaments-latest {
            width: 49.5%;
            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .tournaments-latest {
            .event-list-wrapper {
                overflow: auto;
            }
    
            .event-item:last-child {
                border-bottom: none;
            }
    
            h2 {
                color: #eee;
            }
        }    

        .event-list-wrapper {
            overflow: auto;
        }

        .watch-item {
            @extend .event-item;
            background-color: #ffe988;
            min-width: 635px;

            .event-name-info {
                max-width: 400px;
                min-width: auto;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .event-status-links {
                min-width: 110px;
            }

            .watch-dates {
                min-width: 230px;
            }

            .event-status .live {
                display: inline-block;
                border-radius: 50%;
                background-color: #f00;
                width: 0.85rem;
                height: 0.85rem;
            }

            &.live {
                background-color: #b0ff88;
            }
        }
    }

    .reddit-posts {
        &__wrapper,
        &--no-posts {
            background-color: #1a1a1b;
            color: #9c9d9e;
            border: 1px solid #343536;
            border-radius: 4px;
            overflow: auto;
        }

        &__post {
            padding: 0.8rem 0;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #343536;
            min-width: 460px;

            &:last-child {
                border-bottom: 0;
            }

            &__score {
                font-weight: bold;
                padding: 0 0.4rem;
                min-width: 3rem;
                font-size: 0.85rem;
                text-align: center;
                color: #9c9d9e;
            }

            &__image {
                min-width: 80px;
                height: 60px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 4px;
                margin-right: 1rem;
            }
        }

        .links-content {
            display: flex;
            flex-wrap: wrap;
            
            &__title {
                display: block;
                width: 100%;
                color: #9c9d9e;
            }

            &__external-url {
                font-size: 0.8rem;
                display: flex;
                align-items: center;

                &__url {
                    width: 300px;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-right: 0.3rem;

                    &:hover {
                        color: #3a64b2;
                    }
                }

                .fa:hover {
                    color: #3a64b2;
                }
            }
        }
    }
}