<header :class="mood">
    <div class="fa fa-bars burger"
        v-on:click="burgerMenu();"
        :class="{ 'active': burgerStatus }"></div>

    <router-link :to="'/'" class="logo" :class="{ 'logoSmall': logoSmall }">
        <img src="/dist/assets/images/logo.png" />
    </router-link>

    <nav>
        <ul>
            <li :class="'nav-link ' + link.css_classes" v-for="(link, key) in menu">
                <a v-if="link.target" :href="link.url" :target="link.target">{{link.title}}</a>
                <router-link v-else :to="link.url" :target="link.target" exact>{{link.title}}</router-link>

                <ul class="nav-sub" v-if="link.sublinks">
                    <li :class="'nav-sublink ' + sublink.css_classes" v-for="(sublink, subkey) in link.sublinks">
                        <a v-if="sublink.target" :href="sublink.url" :target="sublink.target">{{sublink.title}}</a>
                        <router-link v-else :to="sublink.url" :target="sublink.target">{{sublink.title}}</router-link>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- <div class="nav-user" v-if="!loggedIn">
        <button class="btn btn-primary" v-on:click="openRightMenu('login')">Login</button>
        <button class="btn btn-success" v-on:click="openRightMenu('register')">Sign up</button>
    </div>
    <div class="nav-user" v-else>
        <button class="btn btn-info fa fa-user" v-on:click="openRightMenu()"></button>
    </div> -->

    <div v-if="mood">
        <ul class="snow">
            <li></li>
            <li></li>
        </ul>
        <div class="lights"></div>
    </div>
</header>