header {
    flex: none;
    padding: 0;
    background-color: rgba(25, 25, 25, 0.9);
    border-bottom: 2px solid $mainColor;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 50;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    visibility: visible;
    height: auto;
    transition: .5s;

    .burger {
        display: none;

        .open & {
            visibility: hidden;
        }
        
        @media (max-width: 768px) {
            display: block;
            float: left;
            color: #fff;
            margin: 0 10px;
            transition: .5s;
            line-height: 60px;
            cursor: pointer;
            font-size: 1.5rem;

            &.active {
                transform: rotate(90deg);
            }
        }
    }

    .logo {
        margin: 0 2.5%;
        float: left;
        width: 113px;
        height: 60px;
        position: relative;

        @media (max-width: 768px) {
            margin: 0 0 0 calc(50% - 58px - 40px);
        }

        img {
            position: absolute;
            width: 113px;
            height: 80px;
            transition: .5s;
        }

        &.logoSmall {
            @media (max-width: 768px) {
                margin: 0 0 0 calc(50% - 43px - 40px);
            }

            img {
                width: 85px;
                height: 60px;
            }
        }
    }
    
    nav {
        float: left;
        @media (max-width: 768px) {
            display: none;
        }
        
        ul {
            padding-left: 0;
            margin-bottom: 0;
        }

        .nav-link {
            display: inline-block;
            position: relative;
            padding: 0;

            img {
                position: absolute;
                left: 10px;
                top: 30px;
            }

            a {
                line-height: 60px;
                opacity: 0.8;
                padding: 0 20px;
                display: block;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
                font-family: $font;

                &:hover,
                &.router-link-active {
                    background: $mainColor;
                    opacity: 1;
                }

                &.router-link-active:before {
                    content: ' ';
                    border-bottom: 2px solid #fff;
                    position: absolute;
                    bottom: -2px;
                    width: 100%;
                    left: 0;
                }
            }

            &:hover .nav-sub {
                display: block;
            }

            .nav-sub {
                display: none;
                position: absolute;
                left: 0;
                top: 60px;
                z-index: 53;
                background-color: rgba(0, 0, 0, 0.9);
                margin: 0;
                list-style: none;
                padding: 0;
                min-width: 140px;
                transition: height 200ms ease-in;

                .nav-sublink {
                    border-bottom: 1px solid #32333b;

                    a {
                        font-size: 13px;
                        white-space: nowrap;
                        margin: 0;
                        padding: 0 10px;
                        text-transform: none;
                        font-weight: normal;
                        line-height: 45px;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.9);
                            color: #000;
                        }

                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .nav-user {
        float: right;
        margin: 10px 2.5% 0 0;

        .btn {
            cursor: pointer;
        }

        @media (max-width: 525px) {
            .register-button {
                display: none;
            }
        }
    }

    &.winter {
        .snow {
            &:before {
                content: " ";
                display: block;
                height: 61px;
                background-image: url('../assets/images/christmas-snow.png');
                background-repeat: repeat-x;
                background-position: bottom;

                @media (max-width: 768px) {
                    height: 71px;
                    background-position: right bottom;
                }

                @media (max-width: 767px) {
                    background-position: inherit;
                    height: 60px;
                }
            }

            &:last-of-type {
                width: 100%;
                height: 61px;
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                margin: 0;
                padding: 0;
                font-size: 0;
                list-style: none;
                z-index: -1;
                perspective: 800px;

                @media (max-width: 768px) {
                    height: 70px;
                }

                @media (max-width: 767px) {
                    height: 60px;
                }

                li {
                    display: block;
                    background-image: url('../assets/images/snow.png');
                    height: 1200px;
                    width: 200%;
                    margin-left: -50%;
                    transform: translateY(-600px);
                    transform-origin: 0 0;
                    background-repeat: repeat;
                    animation: snowfall 20s linear infinite;
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    pointer-events: none;

                    &:nth-child(2) {
                        animation: snowfallX 20s linear infinite;
                        background-position: 50px 50px;
                        transform: translateY(-600px) translateZ(250px);

                        @media (max-width: 1366px) {
                            display: none;
                        }
                    }
                }
            }
    
            @keyframes snowfall {to{transform:translateY(0)}}
            @keyframes snowfallZ{to{transform:translateY(0) translateZ(150px)}}
            @keyframes snowfallX{to{transform:translateY(0) translateZ(250px)}}
            @keyframes snowfallY{to{transform:translateY(0) translateZ(-150px)}}
        }
    
        .lights {
            z-index: -1;
            width: 100%;
            height: 58px;
            position: fixed;
            display: block;
            background-image: url('../assets/images/christmas-lights.png');
            background-repeat: repeat-x;
            top: 30px;
            left: 0;

            @media (max-width: 768px) {
                position: absolute;
                top: 40px;
            }

            @media (max-width: 767px) {
                top: 30px;
            }
        }
    }

    /*.nav-userz {
        float: right;
        position: relative;
        list-style: none;
        margin: 4px 2% 0 0;
        padding: 0;
        min-height: 75px;
        
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;

            a {
                opacity: 0.8;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
                display: block;
                padding: 15px 10px 0 10px;
                margin: 0;
                font-family: $font;

                &:hover {
                    transition:.3s;
                    opacity: 1;
                }

                p {
                    opacity: 0.8;
                    font-size: 11px;
                    font-weight: normal;
                    color: #fff;
                    display: block;
                    padding-top: 5px;
                    margin: 0;
                    font-family: $font;
                }
            }
        }

        .nav-sub {
            display: none;
            position: absolute;
            left: -72px;
            top: 72px;
            z-index: 53;
            background-color: #000;
            margin: 0;
            list-style: none;
            padding: 0;
            min-width: 150px;

            .nav-sublink {
                border-bottom: 1px solid #32333b;

                a {
                    font-size: 12px;
                    white-space: nowrap;
                    margin: 0;
                    padding: 10px;
                    text-transform: none;
                    font-weight: normal;
                    display: block;
                }
            }
        }

        &:hover .nav-sub {
            display: block;
        }
    }

    .nav-avatar {
        position: absolute;
        top: 0;
        left: -72px;
        cursor: pointer;
        border: 1px solid #fff;
        outline: 1px solid #555;
        height: 70px;

        img {
            height: 70px;
        }

        a {
            margin: 0 !important;
            padding: 0 !important;
            opacity: 1 !important;
        }
    }*/
}