header {
    flex: none;
    padding: 0;
    background-color: rgba(25, 25, 25, 0.9);
    border-bottom: 2px solid $mainColor;
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 50;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    visibility: visible;
    height: auto;

    .burger {
        display: none;
    }

    .logo {
        margin: 0 2.5%;
        float: left;
        width: 150px;
        height: 60px;
        box-shadow: inset 0px 0px 50px -1px #fff;

        img {
            width: 150px;
            height: 60px;
        }
    }
    
    nav {
        ul {
            margin-bottom: 0;
        }

        .nav-link {
            display: inline-block;
            position: relative;

            img {
                position: absolute;
                left: 10px;
                top: 30px;
            }

            a {
                line-height: 60px;
                opacity: 0.8;
                padding: 0 20px;
                display: block;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
                font-family: $font;

                &:hover,
                &.router-link-active {
                    background: $mainColor;
                    opacity: 1;
                }

                &.router-link-active:before {
                    content: ' ';
                    border-bottom: 2px solid #fff;
                    position: absolute;
                    bottom: -2px;
                    width: 100%;
                    left: 0;
                }
            }

            &:hover .nav-sub {
                display: block;
            }

            .nav-sub {
                display: none;
                position: absolute;
                left: 0;
                top: 60px;
                z-index: 53;
                background-color: rgba(0, 0, 0, 0.9);
                margin: 0;
                list-style: none;
                padding: 0;
                min-width: 140px;
                transition: height 200ms ease-in;

                .nav-sublink {
                    border-bottom: 1px solid #32333b;

                    a {
                        font-size: 13px;
                        white-space: nowrap;
                        margin: 0;
                        padding: 0 10px;
                        text-transform: none;
                        font-weight: normal;
                        line-height: 45px;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.9);
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .nav-user {
        float: right;
        position: relative;
        list-style: none;
        margin: 4px 2% 0 0;
        padding: 0;
        min-height: 75px;
        
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            position: relative;

            a {
                opacity: 0.8;
                font-size: 13px;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
                display: block;
                padding: 15px 10px 0 10px;
                margin: 0;
                font-family: $font;

                &:hover {
                    transition:.3s;
                    opacity: 1;
                }

                p {
                    opacity: 0.8;
                    font-size: 11px;
                    font-weight: normal;
                    color: #fff;
                    display: block;
                    padding-top: 5px;
                    margin: 0;
                    font-family: $font;
                }
            }
        }

        .nav-sub {
            display: none;
            position: absolute;
            left: -72px;
            top: 72px;
            z-index: 53;
            background-color: #000;
            margin: 0;
            list-style: none;
            padding: 0;
            min-width: 150px;

            .nav-sublink {
                border-bottom: 1px solid #32333b;

                a {
                    font-size: 12px;
                    white-space: nowrap;
                    margin: 0;
                    padding: 10px;
                    text-transform: none;
                    font-weight: normal;
                    display: block;
                }
            }
        }

        &:hover .nav-sub {
            display: block;
        }
    }

    .nav-avatar {
        position: absolute;
        top: 0;
        left: -72px;
        cursor: pointer;
        border: 1px solid #fff;
        outline: 1px solid #555;
        height: 70px;

        img {
            height: 70px;
        }

        a {
            margin: 0 !important;
            padding: 0 !important;
            opacity: 1 !important;
        }
    }
}

@media (max-width: 1300px) {
    header .header-middle {
        display: none;
    }
}
@media (min-width: 1600px) {
    header {
        nav {
            margin-left: 10%;
        }
        .header-middle {
            margin-left: 10%;
        }
    }
}