<header :class="mood">
    <div class="burger"></div>

    <a href="/" class="logo"><img src="../dist/assets/images/new-logo.png" /></a>

    <nav>
        <ul>
            <li :class="'nav-link ' + link.css_classes" v-for="(link, key) in menu">
                <a v-if="link.target" :href="link.url" :target="link.target">{{link.title}}</a>
                <router-link v-else :to="link.url" :target="link.target" exact>{{link.title}}</router-link>

                <ul class="nav-sub" v-if="link.sublinks">
                    <li :class="'nav-sublink ' + sublink.css_classes" v-for="(sublink, subkey) in link.sublinks">
                        <a v-if="sublink.target" :href="sublink.url" :target="sublink.target">{{sublink.title}}</a>
                        <router-link v-else :to="sublink.url" :target="sublink.target">{{sublink.title}}</router-link>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--<ul class="nav-user">
        <li class="nav-link">
            <div class="nav-avatar"><a href="/<?=str_replace('%user%', $this->data->user->name, $v->link)?>"><img src="<?=_cfg('avatars')?>/<?=$this->data->user->avatar?>.jpg" /></a></div>
            <a href="<?=_cfg('href')?>/<?=str_replace('%user%', $this->data->user->name, $v->link)?>">
                <?=$this->data->user->name?><?//=t($v->value)?>
                <p><?=t('points')?>: <span class="achievementsPoints"><?=$this->data->user->experience?></span></p>
            </a>
            <ul class="nav-sub">
            <?
            if ($v->sublinks) {
                foreach($v->sublinks as $v2) {
                    ?>
                    <li class="nav-sublink" id="<?=$v2->link?>">
                        <a href="<?=_cfg('href')?>/<?=$v2->link?>"><?=t($v2->value)?></a>
                    </li>
                    <?
                }
            }
            ?>
                <li class="nav-sublink" id="logout">
                    <a href="<?=_cfg('site')?>/run/logout"><?=t('logout')?></a>
                </li>
            </ul>
        </li>
    </ul>-->

    <div v-if="mood">
        <ul class="snow">
            <li>Snow Effect 1</li>
            <li>Snow Effect 2</li>
        </ul>
        <div class="lights"></div>
    </div>
</header>