/* Galaxy tab */
@media (max-width: 1024px) {
}

/* Site specific, menu breaks if less */
@media (max-width: 860px) {
    body {
        margin: 0;
    }
    .burger {
        &:before {
            content: "\0069";
        }
        display: block !important;
        font: 80px 'EntypoRegular';
        float: left;
        color: #fff;
        margin: 9px 10px 0 10px;
        transition: .5s;
        line-height: 50px;
        &.active {
            transform: rotate(90deg);
        }
    }

    header {
        position: relative !important;
        padding: 5px 0;
        min-height: 0;
        .header-middle {
            display: none;
        }
        .logo {
            margin-left: 10px;
            img {
                width: 100px;
                height: auto;
            }
        }
        .social {
            margin: 5px 5px 0 0;
            a {
                margin-right: 2px;
                transition: 0 !important;
            }
        }
        .languages {
            margin: 10px 5px 0 0;
        }
        .language-switcher {
            top: 35px;
        }
        nav {
            margin-left: 0;
            margin-top: 58px;
            float: none;
            .navbar-inner {
                display: none;
            }
            .nav {
                .nav-link {
                    height: auto;
                    line-height: 50px;
                    float: none;
                    &:before {
                        top: 0;
                    }
                    a {
                        padding: 0 0 0 30px;
                    }
                    .nav-sub {
                        display: block !important;
                        position: initial;
                        left: initial;
                        top: initial;
                        background: 0;
                    }
                }
            }
        }

        .nav-user {
            margin: 0;
            li a {
                padding: 20px 8px;
            }
            .nav-avatar {
                height: 55px;
                left: -55px;
                img {
                    height: 55px;
                }
            }
            .nav-sub {
                top: 58px;
                left: -68px;
            }
        }

        .login {
            line-height: 55px;
        }
    }

    .page {
        min-width: inherit;
        padding: 20px 0;
    }

    .container {
        max-width: 860px;
        width: 100%;
    }

    .left-containers, .right-containers {
        float: none;
        min-width: inherit;
        width: auto;
        max-width: 860px;
    }
    .right-containers {
        margin-top: 10px;
    }

    .donate {
        a {
            width: 96%;
        }
        .arrow-down {
            top: 195px;
            left: 50%;
        }
        .list {
            top: 207px;
            width: 100%;
        }
        .separator {
            top: 206px;
            width: 100%;
        }
    }
}

@media (max-width: 859px) {
    .twitch {
        display: none;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        background: none;
    }
    #head-line  {
        min-height: 0;
    }
    .container {
        width: 480px;
    }
    .home {
        padding: 0;
    }
    .home-tournaments {
        .parent {
            width: 380px;
            margin: 0 auto;
            float: none;
        }
    }

    .home-tournaments {
        .parent {
            width: 380px;
            background-size: cover;
            min-height: 0;
            margin-bottom: 20px;
            .inner {
                padding-top: 5px;
                .prize-pool {
                    marign-top: 0;
                }
            }
            .status {
                margin-top: 0;
                padding: 5px 0;
                label {
                    font-size: 20px;
                }
            }
            .timing h4 {
                margin: 0;
            }
        }
        .hss1 {
            height: auto;
            background-position: center center;
            h1 {
                visibility: hidden;
            }
        }
    }
    
    .navbar {
        height: auto;
    }
    .navbar .nav .nav-link {
        float: none;
    }
    .navbar .nav .nav-link a {
        padding: 5px 0 10px 10px
    }
    .promo {
        display: none;
    }
    .block {
        .block-header-wrapper {
            background: none;
            min-height: 31px;
            h1 {
                padding: 5px;
            }
        }
    }
    
    .big-block .image-holder {
        max-width: 480px;
        max-height: 140px;
    }
    .big-block .image-holder img {
        max-width: 320px;
    }
    .big-block .add-box {
        display: none;
    }
    .big-block.readmore {
        padding: 2px !important;
    }
    .readmore {
        .news-info {
            margin-left: 20px;
        }
        .button {
            margin: 0 10px 0 0;
        }
    }
    .news .small-block {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .news .small-block .image-holder {
        width: 225px;
        margin: 0 auto;
    }
    #toTop, #hint-helper {
        display: none !important;
    }
    .block .block-header-wrapper h1.bordered {
        float: none;
    }
    .right-containers .block {
        margin-bottom: 10px;
    }
    footer .separator {
        width: 100% !important;
        margin: 0 0 10px 0;
        float: none;
    }
    footer .partners a {
        position: initial !important;
        left: initial !important;
    }
    footer .copyrights {
        margin: 0;
        padding: 0;
    }
    footer .copyrights .rights, footer .copyrights .devs {
        margin: 3px 0 0 5px;
        float: none;
    }
    #login-window {
        width: 420px;
    }
    .contact-form .fields input {
        width: 335px;
    }
    .contact-form .fields select {
        width: 345px;
    }
    .contact-form .fields textarea {
        width: 325px;
        height: 150px;
    }
    .lol .title {
        width: auto;
        white-space: initial;
    }
    .lol .title img {
        display: none;
    }
    .lol .right-part, .lol .left-part, .lol .mid-part {
        float: none;
        font-size: 15px;
    }
    .lol .mid-part {
        display: none;
    }
    .ended-tournament, .active-tournament {
        position: relative;
        padding: 5px !important;
    }
    .lol .right-part .status {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .navbar .nav-sub {
        display: block !important;
        position: initial;
        left: initial;
        top: initial;
        background: 0;
    }
    .navbar .nav-sub .nav-sublink {
        border-bottom: 0;
    }
    .comments {
        margin: 0 10px;
    }
    .profile .fields label {
        width: 100px !important;
    }
    .profile .fields input, .profile .fields p {
        width: 165px !important;
    }
    .profile .fields select {
        width: 175px !important;
    }
    .profile .button {
        margin-left: 90px !important;
    }
    .connections .status-holder {
        width: 275px;
    }
    .connections .connect-line {
        width: 30px;
    }
    .readmore .news-share {
        float: none;
        margin-left: 5px;
    }
    .leave-comment .formatting {
        width: 300px;
    }
    .leave-comment .fields textarea {
        width: 280px;
    }
    .chat .chat-input input[type="text"] {
        width: 365px;
    }
    #tournamentCode  {
        width: 315px;
    }
    .fields .holder {
        width: 180px;
        margin: 0 0 0 101px
    }
    .avatars-list {
        padding: 5px 0;
        max-height: 200px;
        overflow-y: auto;
    }

    .donate {
        a {
            width: 93%;
        }
        .arrow-down {
            top: 212px;
            left: 235px;
        }
        .list {
            top: 224px;
            width: 100%;
        }
        .separator {
            top: 223px;
            width: 100%;
        }
    }

    .participants {
        .block {
            margin: 20px 30px 0 0;
            &:nth-child(2n) {
                margin-right: 0 !important;
            }
            &:nth-of-type(-n+2) {
                margin-top: 0 !important;
            }
        }
    }

    .boards {
        .submit {
            width: 450px;
        }
    }

    .submitBoard {
        #title {
            width: 420px;
        }
    }
}

/* Smallest phones */
@media (max-width: 320px) {
    body {
        margin: 0;
    }

    .container {
        width: 320px;
        position: relative !important;
        padding: 0;
        margin: 0;
    }
    
    header {
        nav {
            margin-top: 0;
            float: initial;
            padding-top: 55px;
            .nav {
                width: 100%;
                margin: 0;
                .nav-link {
                    float: initial;
                    height: auto;
                    line-height: 35px;
                    border-top: 1px solid #373737;
                    a {
                        padding: 5px 0 0 35px;
                    }
                    .nav-sub {
                        display: block;
                        position: initial;
                        left: initial;
                        top: initial;
                        background: 0;
                        top: 60px;
                        left: -67px;
                        .nav-sublink {
                            border: 0;
                        }
                    }
                    &:before {
                        top: 5px;
                    }
                }
            }
        }
        .login {
            span {
                display: none;
            }
            .mobile {
                display: inline-block;
            }
        }
    }

    .home-tournaments {
        .parent {
            width: 320px;
        }
    }

    .boards {
        .board {
            .thread {
                max-width: 215px;
            }
        }
    }
    
    .block {
        .block-header-wrapper {
            min-height: 30px;
            h1 {
                padding: 5px;
            }
        }
    }

    .donate {
        .arrow-down {
            top: 220px;
            left: 160px;
        }
        .list {
            top: 232px;
        }
        .separator {
            top: 231px;
        }
    }

    .big-block .image-holder {
        max-width: 320px;
        max-height: 140px;
    }
    .big-block .image-holder img {
        max-width: 320px;
    }
    .big-block .add-box {
        display: none;
    }
    .big-block.readmore {
        padding: 2px !important;
    }
    .readmore .news-info {
        float: none;
        text-align: center;
    }
    .readmore .button {
        float: none;
        margin: 0 0 10px 100px;
    }
    .news .small-block {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .news .small-block .image-holder {
        width: 225px;
        margin: 0 auto;
    }
    #toTop, #hint-helper {
        display: none !important;
    }
    .block .block-header-wrapper h1.bordered {
        line-height: 29px;
        float: none;
    }
    .right-containers .block {
        margin-bottom: 10px;
    }
    footer {
        .separator {
            width: 100% !important;
            margin: 0 0 10px 0;
            float: none;
        }
        .partners a {
            position: initial !important;
            left: initial !important;
        }
        .copyrights {
            margin: 0;
            padding: 0;
            text-align: center;
            .rights,
            .devs {
                margin: 3px 0 0 5px;
                float: none;
            }
        }
        .comments {
            margin: 0;
            .thread {
                max-width: 310px;
                overflow: hidden;
            }
        }
    }
    #login-window {
        width: 300px;
        .button {
            width: 273px;
        }
        .form {
            .fields {
                input {
                    width: 160px;
                }
            }
        }
        .pass-reg-links {
            .register-link {
                margin-right: 0;
            }
        }
        #ngError {
            width: 270px;
        }
    }
    .tournament {
        .block-content {
            #join-form {
                width: 100% !important;
                float: none !important;
                border-bottom: 1px solid #888;
            }
            .tournament-rules {
                width: 100% !important;
                float: none !important;
                img {
                    display: none;
                }
            }
            &.signup::after {
                border-left: 0 !important;
            }
        }
    }
    .contact-form {
        .fields {
            input {
                width: 165px;
            }
            select {
                width: 175px;
            }
            textarea {
                width: 155px;
                height: 150px;
            }
        }
        .button {
            margin-left: 0;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            font-size: 16px;
        }
    }
    .lol .title {
        width: auto;
        white-space: initial;
    }
    .lol .title img {
        display: none;
    }
    .lol .right-part, .lol .left-part, .lol .mid-part {
        float: none;
        font-size: 15px;
    }
    .lol .mid-part {
        display: none;
    }
    .ended-tournament, .active-tournament {
        position: relative;
        padding: 5px !important;
    }
    .lol .right-part .status {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .navbar .nav-sub {
        display: block !important;
        position: initial;
        left: initial;
        top: initial;
        background: 0;
    }
    .navbar .nav-sub .nav-sublink {
        border-bottom: 0;
    }
    .comments {
        margin: 0 10px;
    }
    .profile .fields label {
        width: 100px !important;
    }
    .profile .fields input, .profile .fields p {
        width: 165px !important;
    }
    .profile .fields select {
        width: 175px !important;
    }
    .profile .button {
        margin-left: 90px !important;
    }
    .connections .status-holder {
        width: 275px;
    }
    .connections .connect-line {
        width: 30px;
    }
    .readmore .news-share {
        float: none;
        margin-left: 5px;
    }
    .leave-comment .formatting {
        width: 300px;
    }
    .leave-comment .fields textarea {
        width: 280px;
    }
    .chat .chat-input input[type="text"] {
        width: 200px;
    }
    #tournamentCode  {
        width: 155px;
    }
    .fields .holder {
        width: 180px;
        margin: 0 0 0 101px
    }
    .avatars-list {
        padding: 5px 0;
        max-height: 200px;
        overflow-y: auto;
    }

    .participants {
        .block {
            margin: 0 0 10px 0;
            box-sizing: border-box;
            width: 280px;
        }
        .team-name {
            width: 220px;
        }
    }

    .places {
        .second,
        .third {
            display: none;
        }
    }

    .team {
        .team-division {
            width: 280px;
        }
    }

    .boards {
        .submit {
            width: 290px;
        }
        .board {
            .thread {
                .text {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }

    .submitBoard {
        #title {
            width: 250px;
        }
        .categories div {
            margin-right: 5px;
        }
    }

    .users-list {
        .cell2,
        .cell3,
        .cell4 {
            display: none !important;
        }
        .cell5 {
            width: 115px;
        }
    }
}