/* Site specific, menu breaks if less */
@media (max-width: 768px) {
    body {
        margin: 0;
    }
    .burger {
        &:before {
            content: "\0069";
        }
        display: block !important;
        font: 80px 'EntypoRegular';
        float: left;
        color: #fff;
        margin: 9px 10px 0 10px;
        transition: .5s;
        line-height: 50px;
        &.active {
            transform: rotate(90deg);
        }
    }

    header {
        position: relative !important;
        padding: 5px 0;
        min-height: 0;
        .header-middle {
            display: none;
        }
        .logo {
            margin-left: 10px;
            img {
                width: 100px;
                height: auto;
            }
        }
        .social {
            margin: 5px 5px 0 0;
            a {
                margin-right: 2px;
                transition: 0 !important;
            }
        }
        .languages {
            margin: 10px 5px 0 0;
        }
        .language-switcher {
            top: 35px;
        }
        nav {
            margin-left: 0;
            margin-top: 58px;
            float: none;
            .navbar-inner {
                display: none;
            }
            .nav {
                .nav-link {
                    height: auto;
                    line-height: 50px;
                    float: none;
                    &:before {
                        top: 0;
                    }
                    a {
                        padding: 0 0 0 30px;
                    }
                    .nav-sub {
                        display: block !important;
                        position: initial;
                        left: initial;
                        top: initial;
                        background: 0;
                    }
                }
            }
        }

        .nav-user {
            margin: 0;
            li a {
                padding: 20px 8px;
            }
            .nav-avatar {
                height: 55px;
                left: -55px;
                img {
                    height: 55px;
                }
            }
            .nav-sub {
                top: 58px;
                left: -68px;
            }
        }

        .login {
            line-height: 55px;
        }
    }

    .page {
        min-width: inherit;
        padding: 20px 0;
    }

    .container {
        max-width: 860px;
        width: 100%;
    }

    .left-containers {
        float: none;
        min-width: inherit;
        width: auto;
        max-width: 860px;
    }
    .right-containers {
        float: none;
        margin-top: 10px;
        > .block {
            float: left;
            width: 316px;
            margin-right: 15px;
        }
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
    }
    
    .home {
        .home-tournaments {
            .hss2 {
                width: 100%;
            }
        }
    }

    .donate {
        a {
            width: 96%;
        }
        .arrow-down {
            top: 195px;
            left: 50%;
        }
        .list {
            top: 207px;
            width: 100%;
        }
        .separator {
            top: 206px;
            width: 100%;
        }
    }
}

@media (max-width: 859px) {
    .twitch {
        display: none;
    }
}

/* Smallest phones */
@media (max-width: 320px) {
    body {
        background: none;
        margin: 0;
    }
    
    #head-line  {
        min-height: 0;
    }
    
    .home {
        padding: 0;
    }
    .promo {
        display: none;
    }
    
    .container {
        width: 320px;
        position: relative !important;
        padding: 0;
        margin: 0;
    }
    
    header {
        nav {
            margin-top: 0;
            float: initial;
            padding-top: 55px;
            .nav {
                width: 100%;
                margin: 0;
                .nav-link {
                    float: initial;
                    height: auto;
                    line-height: 35px;
                    border-top: 1px solid #373737;
                    a {
                        padding: 5px 0 0 35px;
                    }
                    .nav-sub {
                        display: block;
                        position: initial;
                        left: initial;
                        top: initial;
                        background: 0;
                        top: 60px;
                        left: -67px;
                        .nav-sublink {
                            border: 0;
                        }
                    }
                    &:before {
                        top: 5px;
                    }
                }
            }
        }
        .nav-user {
            min-height: 50px;
            li a {
                padding: 10px 8px;
            }
        }
        .login {
            span {
                display: none;
            }
            .mobile {
                display: inline-block;
            }
        }
    }
    
    .navbar {
        height: auto;
        .nav {
            .nav-link {
                float: none;
                a {
                    padding: 5px 0 10px 10px
                }
            }
        }
        .nav-sub {
            display: block !important;
            position: initial;
            left: initial;
            top: initial;
            background: 0;
            .nav-sublink {
                border-bottom: 0;
            }
        }
    }

    .home-tournaments {
        .parent {
            width: 320px;
            background-size: cover;
            min-height: 0;
            margin: 0 auto 20px auto;
            float: none;
            .inner {
                padding-top: 5px;
                .prize-pool {
                    marign-top: 0;
                }
            }
            .status {
                margin-top: 0;
                padding: 5px 0;
                label {
                    font-size: 20px;
                }
            }
            .timing h4 {
                margin: 0;
            }
        }
        .hss1 {
            height: auto;
            background-position: center center;
            h1 {
                visibility: hidden;
            }
        }
    }

    .block {
        .block-header-wrapper {
            background: none;
            min-height: 30px;
            h1 {
                padding: 5px;
                &.bordered {
                    border-radius: 0;
                    line-height: 29px;
                    float: none;
                }
            }
        }
    }

    .donate {
        a {
            width: 93%;
        }
        .arrow-down {
            top: 220px;
            left: 160px;
        }
        .list {
            top: 232px;
            width: 100%;
        }
        .separator {
            top: 231px;
            width: 100%;
        }
    }
    
    .news {
        .big-block {
            .image-holder {
                max-width: 320px;
                max-height: 140px;
                img {
                    max-width: 320px;
                }
            }
            .add-box {
                display: none;
            }
            &.readmore {
                padding: 2px !important;
                .news-info {
                    float: none;
                    text-align: center;
                    margin: 0;
                }
                .button {
                    float: none;
                    margin: 0 0 10px 100px;
                }
                .news-share {
                    float: none;
                    margin-left: 5px;
                }
            }
        }
        .small-block {
            float: none;
            width: auto;
            margin-right: 0;
            .image-holder {
                width: 225px;
                margin: 0 auto;
            }
        }
    }

    #toTop, #hint-helper {
        display: none !important;
    }
    
    .right-containers .block {
        margin-bottom: 10px;
    }
    
    footer {
        .separator {
            width: 100% !important;
            margin: 0 0 10px 0;
            float: none;
        }
        .partners a {
            position: initial !important;
            left: initial !important;
        }
        .copyrights {
            margin: 0;
            padding: 0;
            text-align: center;
            .rights,
            .devs {
                margin: 3px 0 0 5px;
                float: none;
            }
        }
        .comments {
            margin: 0;
            .thread {
                max-width: 310px;
                overflow: hidden;
            }
        }
    }
    
    #login-window {
        width: 300px;
        .button {
            width: 273px;
        }
        .form {
            .fields {
                input {
                    width: 160px;
                }
            }
        }
        .pass-reg-links {
            .register-link {
                margin-right: 0;
            }
        }
        #ngError {
            width: 270px;
        }
    }
    
    .tournament {
        .block-content {
            #join-form {
                width: 100% !important;
                float: none !important;
                border-bottom: 1px solid #888;
                input[type="text"],
                select,
                textarea {
                    width: 98%;
                }
            }
            .tournament-rules {
                width: 100% !important;
                float: none !important;
                img {
                    display: none;
                }
                a {
                    width: 49%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                }
            }
            &.signup::after {
                border-left: 0 !important;
            }
            &.tournament-rules {
                a {
                    width: 98%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;
                }
            }
            
            .title {
                width: auto;
                white-space: initial;
                img {
                    display: none;
                }
            }
            .right-part,
            .left-part,
            .mid-part {
                float: none;
                font-size: 15px;
            }
            .mid-part {
                display: none;
            }
            .right-part {
                .status {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
            }
            &.ended-tournament,
            &.active-tournament {
                position: relative;
                padding: 5px !important;
            }
        }
    }
    
    .contact-form {
        .fields {
            input {
                width: 165px;
            }
            select {
                width: 175px;
            }
            textarea {
                width: 155px;
                height: 150px;
            }
        }
        .button {
            margin-left: 0;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            font-size: 16px;
        }
    }

    .comments {
        margin: 0 10px;
    }
    
    .profile {
        .fields {
            label {
                width: 100px !important;
            }
            input,
            p {
                width: 165px !important;
            }
            select {
                width: 175px !important;
            }
        }
        .button {
            margin-left: 90px !important;
        }
    }

    .connections {
        .status-holder {
            width: 275px;
        }
        .connect-line {
            width: 30px;
        }
    }
    
    .leave-comment {
        .formatting {
            width: 300px;
        }
        .fields textarea {
            width: 280px;
        }
    }
    
    .chat .chat-input input[type="text"] {
        width: 200px;
    }
    #tournamentCode  {
        width: 155px;
    }
    .fields .holder {
        width: 180px;
        margin: 0 0 0 101px
    }
    .avatars-list {
        padding: 5px 0;
        max-height: 200px;
        overflow-y: auto;
    }

    .participants {
        .block {
            margin: 0 0 10px 0;
            box-sizing: border-box;
            width: 280px;
            &:nth-child(2n) {
                margin-right: 0 !important;
            }
            &:nth-of-type(-n+2) {
                margin-top: 0 !important;
            }
        }
        .team-name {
            width: 220px;
        }
    }

    .places {
        .second,
        .third {
            display: none;
        }
    }

    .team {
        .team-division {
            width: 280px;
        }
    }

    .boards {
        .submit {
            width: 290px;
        }
        .board {
            .thread {
                max-width: 215px;
                .text {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }

    .submitBoard {
        #title {
            width: 250px;
        }
        .categories div {
            margin-right: 5px;
        }
    }

    .users-list {
        .cell2,
        .cell3,
        .cell4 {
            display: none !important;
        }
        .cell5 {
            width: 115px;
        }
    }
}