@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$mainColor: #000; //black
$subColor: #fff; //white
$uniColor: #714f9e; //purple
$inuColor: #9d7dc9; //light purple

$linkColor: #1697e1; //blue
$reverseColor: #555; //grey
$alternativeColor: #999;
$defaultBorderRadius: 5px;
$fonts: '/assets/css/font';
$img: '/assets/images';
$font: 'Open Sans';
$transition: .5s;

$breakPointTablet: 768px;
$breakPointPC: 1024px;

@mixin clear() {
	content: ' ';
	display: block;
	clear: both;
}

/* Reset like things */
img,p,td{border: 0;margin: 0;padding: 0;}
a{text-decoration: none;color: $mainColor; transition: $transition;}
a:hover{color: #555; }
.fright {float:right;}
a img {border: 0;}

@font-face {
    font-family: 'entyporegular';
    src: url($fonts+'/Entypo-webfont.eot');
    src: url($fonts+'/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts+'/Entypo-webfont.woff') format('woff'),
         url($fonts+'/Entypo-webfont.ttf') format('truetype'),
         url($fonts+'/Entypo-webfont.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    margin: 0;
    padding: 0 0 70px 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans';
    background-image:url($img+'/bg.jpg');
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -100px;
    &.winter {
        background-image:url($img'/bg-christmas.jpg');
    }
    &.sidebar-open {
        overflow: hidden;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.button {
    border: 0;
    color: #eee;
    display: inline-block;
    background-color: #1697e1;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    &.loading {
        background-image:url($img'/loading.gif');
        background-position: 50%;
        background-repeat: no-repeat;
    }
    &:hover {
        color: #fff;
        background-color: #2878d1;
    }
    &.disabled {
        background-color: #999;
        box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2), inset 0 0 10px 8px rgba(0,0,0,0.2);
    }
}

a {
	color: $linkColor;
	transition: $transition;
	&:hover {
		color: $reverseColor;
	}
}

@keyframes fadeIn {
    from    { opacity: 0; }
    to 		{ opacity: 1; }
}

@keyframes fadeOut {
    from    { opacity: 1; }
    to 		{ opacity: 0; }
}

.ng-enter {
	animation: fadeIn $transition both ease-in;
	z-index: 8888;
}
.ng-leave {
	display: none;
}