.blog {
    @extend .left-container;

    .blog-block {
        position: relative;
        padding: 0;
        margin: 0 0 40px 0;
        color: #000;

        .image-holder {
            display: block;
            width: 100%;
            max-height: 370px;
            text-align: center;
            font-weight: bold;

            @media (max-width: 767px) {
                max-width: 320px;
                max-height: 140px;
            }
        }

        .date {
            position: absolute;
            top: 20px;
            left: -65px;
            width: 65px;
            box-shadow: inset -3px 0 3px 0 rgba(0,0,0,0.2);
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            padding: 1rem;
            color: #fff;
            background: linear-gradient(to bottom,  #27c6d0 0%,#217fbb 100%);

            @media (max-width: 767px) {
                display: none;
            }
        }

        .title {
            padding: 20px 20px 0 20px;
        }

        .text {
            padding: 20px 20px 0 20px;
            margin: 0 0 20px 0;
        }

        .btn {
            float: right;
            margin: 0 20px 20px 0;
        }

        @include clearfix();
    }


    /* @media (max-width: 767px) {

        .small-blog-block {
            float: none;
            width: auto;
            margin-right: 0;

            .image-holder {
                width: 225px;
                margin: 0 auto;
            }
        }
    } */
}

.blog-home-page {

    .block-content {
        @include clearfix();
    }

    .small-blog-block {
        float: left;
        width: 30%;
        min-height: 150px;
        margin-right: 5%;
        margin-bottom: 20px;
        position: relative;

        .blog-link-wrapper {
            cursor: pointer;
            display: block;
        }

        .dates {
            position: absolute;
            top: 10px;
            left: 0;
            text-align: center;
            font-size: 0.9rem;
            font-weight: bold;
            padding: 0.5rem;
            color: #fff;
            background: linear-gradient(to bottom,  #27c6d0 0%,#217fbb 100%);
            opacity: 0.85;
        }

        .image-holder {
            background-color: #999;
            width: 100%;
            height: 170px;
            overflow: hidden;
            margin-bottom: 10px;

            p {
                display: block;
                padding-top: 75px;
                color: #fff;
                font-weight: bold;
                text-align: center;
            }

            img {
                max-width: 250px;
                max-height: 170px;
            }
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}