<script type="text/x-template" id="change-password-template">
    <div class="profile">
        <div class="block">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <section class="profile-wrapper" v-if="!loading">
                    <h4>Change Password</h4>

                    <div class="alert alert-danger" v-if="formError" v-html="formError"></div>

                    <form method="post" v-on:submit.prevent="submit()">
                        <div class="heading-text">Here you can change your password. Keep in mind that the only strict rule that we ask is minimum password length is 6 characters. But we do advice you to pick harder password using upper case and lower case letters.</div>

                        <div class="input-wrapper input-group form-group"
                            :class="{ error: errorClasses.oldPass }">
                            <div class="input-group-addon fa fa-lock"></div>
                            <input class="form-control" type="password" v-model="form.oldPass" placeholder="Current password" />
                        </div>

                        <div class="input-wrapper input-group form-group"
                            :class="{ error: errorClasses.pass }">
                            <div class="input-group-addon fa fa-lock"></div>
                            <input class="form-control" type="password" v-model="form.pass" placeholder="New password" />
                        </div>

                        <div class="input-wrapper input-group form-group"
                            :class="{ error: errorClasses.repeatPass }">
                            <div class="input-group-addon fa fa-lock"></div>
                            <input class="form-control" type="password" v-model="form.repeatPass" placeholder="Repeat new password" />
                        </div>

                        <button class="btn btn-primary btn-lg" :disabled="formLoading">Change password</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</script>