@media (min-width: $breakPointPC) {
	/*body {
		overflow: auto;
	}

	header {
		.wrapper {
			nav {
				float: right;
				display: block;
				margin-right: 5%;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						float: left;
						position: relative;
						a {
							padding: 20px;
							display: block;
							border-bottom: none;
							transition: $transition;
							&:hover,
							&.active {
								background-color: $subColor;
								color: $mainColor;
							}
						}
						&:hover {
							ul li {
								display: block;
							}
						}

						ul li {
							background-color: $mainColor;
							position: absolute;
							z-index: 2;
							border-left: 1px solid $subColor;
							border-right: 1px solid $subColor;
							border-top: 1px solid $subColor;
							display: none;
							a {
								border-bottom: 1px solid $subColor;
							}
						}
					}
				}
			}
			.burger {
				display: none;
			}
			> a {
				left: 5%;
				width: 120px;
				height: 130px;
				margin-left: 0;
			}
		}
	}

	.logo {
		margin-top: 0;
	}

	.sidebar {
		display: none;
	}

	.sidebar-open {
		.sidebar-closer {
			display: none;
		}
		header,
		.container,
		footer .lower {
			transform: none;
		}
	}

	.container {
		.header-logo {
			padding-bottom: 20px;
		}
		article {
			width: 80%;
			margin: 0 auto;
			padding-bottom: 40px;
		}

		.home-text {
			width: 75%;
			margin: 0 auto;
		}
	}

	.container-sub {
		.games-logos {
			a {
				min-width: 380px;
				box-sizing: border-box;
				display: inline-block;
			}
		}
	}

	.promos {
		display: flex;
		> a {
			margin: 0 auto 40px auto;
			&:last-child {
				margin-bottom: auto;
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		.buttons-category:not(.main) {
			width: 33.3%;
		}
		.buttons-category.main {
			flex: 0 0 100%;
		}
		.buttons-category {
			a:hover,
			a.join:hover {
				color: $subColor;
				background-color: $inuColor;
			}
		}
	}*/
}