//#1697e1
/* Reset like things */
img,p,td{border: 0;margin: 0;padding: 0;}
a{text-decoration: none;color: #1697e1;transition: .5s;}
a:hover{color: #555; }
.clear {clear:both;}
.fright {float:right;}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
}

#full-site-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}
#head-line {
    min-height: 20px;
}

#full-site-wrapper.default {
    background-image:url(http://fc08.deviantart.net/fs70/f/2013/286/0/7/wallpaper_league_of_legends_by_rikkutenjouss-d6qbuej.png);
}
#full-site-wrapper.league {
    background-image:url(../images/bg-lol.jpg);
}
#full-site-wrapper.hearthstone {
    background-image:url(../images/bg-hs.jpg);
}

.button {
    color: #eee;
    display: inline-block;
    background-color: #1697e1;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.button.loading {
	background-image:url(../images/loading.gif);
	background-position: 50%;
	background-repeat: no-repeat;
}
.button:hover {
    color: #fff;
    background-color: #2878d1;
}

.timer {
    cursor: default;
}

.container {
    width: 1170px;
    position: relative;
    margin: 0px auto 0px auto;
}

header {
    padding: 15px 0;
    background-color: #2b2b2b;
    min-height: 50px;
}
header .logo {
    margin-left: 20px;
    float: left;
}
header .logo img {
    width: 150px;
    height: 72px;
}
header .social {
    margin: 5px 10px 0 0;
}
header .social a {
    background-image: url('../images/icons.png');
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}
header .social a.fb {
    background-position: 0px 0px;
    width: 30px;
}
header .social a.fb:hover {
	background-position: 0px -36px;
}
header .social a.tw {
    background-position: -38px 0px;
    width: 27px;
    margin-right: 12px;
}
header .social a.tw:hover {
	background-position: -38px -36px;
}
header .social a.gp {
    background-position: -74px 0px;
    width: 29px;
}
header .social a.gp:hover {
	background-position: -74px -36px;
}
header .social a.yt {
    background-position: -109px 0px;
    width: 28px;
}
header .social a.yt:hover {
	background-position: -109px -36px;
}
header .social a.tv {
    background-position: -177px 0px;
    width: 28px;
}
header .social a.tv:hover {
	background-position: -177px -36px;
}
header .social a.vk {
    background-position: -212px 0px;
    width: 28px;
}
header .social a.vk:hover {
	background-position: -212px -36px;
}
header .social a.sm {
    background-position: -143px 0px;
    width: 28px;
}
header .social a.sm:hover {
	background-position: -143px -36px;
}
header .languages {
    float: right;
    margin: 5px 20px 0 0;
    color: #fff;
    font-size: 16px;
    position: relative;
    line-height: 30px;
}
header .languages img {
    float: left;
    margin: 2px 5px 0 0;
}
header .language-switcher {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    min-width: 150px;
    border-radius: 8px;
    z-index: 2;
    background: #343434;
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #43CDEF;
}
header .language-switcher .title {
    font-weight: bold;
}
header .language-switcher a {
    display: inline-block;
    margin: 5px 0;
    white-space: nowrap;
    width: 100%;
}

footer {
    margin: 30px auto 0 auto !important;
    background-color: #1f1f1f;
}
footer .copyrights {
    color: #888;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #484848;
    font-size: 12px;
    line-height: 20px;
}
footer .copyrights .rights {
    float: left;
    margin: 3px 0 0 15px;
}
footer .copyrights .devs {
    float: right;
    color: #888;
    margin: 3px 15px 0 0;
}
footer .copyrights .devs:hover {
    color: #1697e1;
}

.navbar {
    background: linear-gradient(to bottom,  rgba(39,198,208,1) 0%,rgba(33,127,187,1) 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #43CDEF;
    
    height: 67px;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    list-style: none;
    padding: 0;
}
.navbar .nav li {
    float: left;
    line-height: 20px;
}
.navbar .nav li a {
    opacity: 0.8;
    padding: 18px 20px 23px 20px;
    display: block;
    margin-top: 6px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    
    font-family: Open Sans;
}
.navbar .nav li a:hover {
    transition:.3s;
    opacity: 1;
}
.navbar .nav li.active a {
    opacity: 1;
}

.page {
    width: 1130px;
    background-color: #f1f1f1;
    padding: 20px;
}
.left-containers {
    width: 790px;
    float: left;
}
.right-containers {
    width: 316px;
    float: right;
}
.right-containers .block {
    margin-bottom: 40px;
}

.block {
    width: 100%;
    min-height: 40px;
}
.block .block-header-wrapper {
    background-color: #32333b;
    min-height: 41px;
}
.block .block-header-wrapper h1 {
    background: linear-gradient(to bottom,  rgba(39,198,208,1) 0%,rgba(33,127,187,1) 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.3), inset 0 1px 1px 1px #43CDEF;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.block .block-header-wrapper  h1.bordered {
    border-radius: 0 20px 0 0/0 40px 0 0;
    padding: 0px 30px 0px 13px;
    float: left;
    line-height: 40px;
}
.block .block-content {
	display: block;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
}

.promo {
    width: 100%;
    height: 370px;
    overflow: hidden;
    position: relative;
    margin: 0 0 40px 0;
}

.big-block {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
}
.big-block .image-holder {
    display: block;
    width: 100%;
    /*min-height: 144px;*/
    max-height: 280px;
    background-color: #999 !important;
    text-align: center;
    font-weight: bold;
}
.big-block .image-holder img {
    margin: 0;
    padding: 0;
}
.big-block .image-holder p {
    color: #fff;
    line-height: 100px;
    margin: 0;
}
.big-block .title {
    display: block;
    margin: 20px 20px 5px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.big-block .text {
    display: block;
    color: #444;
    line-height: 21px;
    font-size: 13px;
    margin: 0;
    padding: 0 20px 20px 20px;
}
.article .big-block div.text {
	display: block;
    line-height: 21px;
    font-size: 13px;
    margin: 20px 0 0 0;
    color: #000;
    padding: 0 20px 20px 20px;
}
.big-block .add-box {
    position: absolute;
    top: 20px;
    left: -65px;
    width: 65px;
    background-color: #32333b;
}
.big-block .add-box .date {
    box-shadow: inset -3px 0 3px 0 rgba(0,0,0,0.2);
    text-align: center;
    font-size: 16px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(to bottom,  #27c6d0 0%,#217fbb 100%); /* W3C */
}
.big-block .add-box .like {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.big-block .add-box .like:hover .like-icon {
    background-image: url('../images/like-active.png');
}
.big-block .add-box .like {
    white-space: nowrap;
}
.big-block .add-box .like span {
    display: inline-block;
    font-size: 15px;
    padding: 5px 0 5px 5px;
    line-height: 30px;
    font-weight: bold;
}
.big-block .add-box .like:hover {
    color: #999;
}
.big-block .add-box .like-icon {
    display: inline-block;
    background-image: url('../images/like-gray.png');
    background-repeat: no-repeat;
    height: 12px;
    width: 13px;
    margin: 15px 0 0 27px;
}
.big-block .add-box .like-icon.active {
	background-image: url('../images/like-active.png');
}

.news .small-block {
    float: left;
    width: 30%;
    min-height: 150px;
    margin-right: 5%;
    margin-bottom: 20px;
}
.news .small-block:nth-child(3n) {
    margin-right: 0;
}
.news .small-block .image-holder {
    background-color: #999;
    width: 100%;
    height: 170px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.news .small-block .image-holder a {
    color: #fff;
}
.news .small-block .image-holder p {
    display: block;
    padding-top: 75px;
}
.news .small-block a.title {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.news .small-block .info {
    color: #777;
    text-transform: uppercase;
}
.news .small-block .info .dates {
    float: left;
}
.news .small-block .info .comments {
    float: right;
    color: #fff;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 10px;
    min-width: 20px;
    text-align: center;
    transition: .5s;
}
.news .small-block .info .comments:hover {
    background-color: #1697e1;
}

.next-tournaments {
    text-align: center;
}
.next-tournaments h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.next-tournaments .timer {
    font-size: 50px;
    display: block;
    margin-top: 10px;
}
.next-tournaments .button {
    font-size: 18px;
    padding: 10px 20px;
}
.news .big-block.readmore {
	margin-bottom: 40px !important;
}
.big-block.readmore {
	padding: 20px !important;
}
.readmore .news-info {
	float: left;
	color: #333;
	line-height: 38px;
	font-weight: bold;
}
.readmore .button {
	float: right;
}

.block .block-divider {
	height: 1px;
	background: #ccc;
	margin: 30px 0;
}
.comments h2 {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 40px;
	margin: 10px 0;
	color: #666;
}
.comments .disabled {
	color: #666;
	text-transform: uppercase;
	font-size: 15px;
}

.incoming-tournament {
    position: relative;
}
.incoming-tournament .tourn-name {
    width: 70%;
    float: left;
    overflow: hidden;
    height: 40px;
}
.incoming-tournament .timer {
    text-align: right;
}
.incoming-tournament .button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    opacity: 0;
    transition: .5s !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
}
.incoming-tournament:hover .button {
    opacity: 1;
}
.streamers a {
    width: 100%;
    display: block;
    padding: 0 !important;
}
.streamers a:hover {
    background-color: #eee;
}
.streamers a .game-logo {
    float: left;
    height: 30px;
    padding: 4px 0 0 5px;
}
.streamers a .streamer-name {
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    cursor: pointer;
}
.streamers a .viewers {
    float: right;
    padding: 10px 10px 0 0;
}

.facebook-holder, .vk-holder {
    padding: 3px !important;
    overflow: hidden;
}

footer .separator {
    width: 48%;
    margin: 20px 1% 0 1%;
    float: left;
}
footer .block .block-content {
    background-color: inherit;
    box-shadow: none;
    text-align: center;
}
footer .partners img, footer .games img {
    max-width: 315px;
}
footer .partners .unicon {
    float: left;
    position: relative;
    left: 80px;
}
footer .partners .aimskillz {
    margin-top: 20px;
    left: 85px;
    position: relative;
    float: left;
}
footer .partners .lesf {
    margin-top: 20px;
    float: left;
    position: relative;
    left: 120px;
}
footer .partners .skillz {
    float: left;
    position: relative;
    left: 120px;
}

#hint-helper {
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #999;
    max-width: 180px;
    background-color: #fff;
    border-radius: 4px;
    display: none;
}
#hint-helper p {
    padding: 10px 15px;
    font-size: 13px;
}

.team .block {
	margin-bottom: 40px;
}
.team .game-logo {
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.team .team-user {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.team .team-user .name {
	padding: 15px 0 0 15px;
	font-size: 19px;
	font-weight: bold;
	color: #777;
}
.team .team-user .role {
	padding: 5px 0 15px 15px;
	font-size: 14px;
	text-transform: uppercase;
}

.contacts .contact-form .fields {
	margin-bottom: 15px;
	white-space: nowrap;
	clear: both;
}
.contacts .contact-form .fields label {
	display: block;
	border: 1px solid #999;
	border-radius: 4px 0 0 4px;
	background-color: #ccc;
	padding: 0;
	margin: 0;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	float: left;
}
.contacts .contact-form .fields input,
.contacts .contact-form .fields select,
.contacts .contact-form .fields textarea {
	width: 645px;
	border: 1px solid #999;
	margin: 0 0 0 -1px;
	border-radius: 0 4px 4px 0;
	padding-left: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
.contacts .contact-form .fields input:focus,
.contacts .contact-form .fields select:focus,
.contacts .contact-form .fields textarea:focus {
	border-color: #1697e1;
	transition: linear .3s;
	outline: 0;
}
.contacts .contact-form .fields input {
	height: 38px;
}
.contacts .contact-form .fields select {
	width: 655px;
	vertical-align: middle;
	padding: 11px 5px;
	display: block;
	height: 42px;
}
.contacts .contact-form .fields textarea {
	padding: 10px;
	width: 635px;
	height: 300px;
}
.contacts .contact-form .button {
	margin-left: 90px;
}

#error {
	border: 1px solid #900;
	background-color: #CE2929;
	color: #fff;
	margin-bottom: 20px;
	display: none;
}
.error-add {
	border: 1px solid #900;
	background-color: #CE2929;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}
.success-sent p, #error p {
	padding: 10px;
	margin: 0;
	font-size: 16px;
}
.success-add {
	padding: 10px;
	border: 1px solid #090;
	background-color: #2D6B15;
	color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}

.success-sent {
	display: none;
	border: 1px solid #090;
	background-color: #2D6B15;
	color: #fff;
	padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
}

.tournament-rules {
	color: #444;
}
.tournament-rules h1 {
	margin: 5px 0;
}
.tournament-rules p {
	margin: 0 0 0 30px;
	padding: 0;
}

.lol .block {
	margin-bottom: 40px;
}

.lol .active-tournament:hover {
	background-color: #1697E1;
}
.lol .ended-tournament:hover {
	background-color: #bbb;
}
.lol .active-tournament:hover, .lol .active-tournament:hover .right-part {
	color: #fff;
}
.lol .ended-tournament:hover {
	color: #000;
} 

.lol .active-tournament .status {
	background-color: #1697E1;
	color: #fff;
}
.lol .ended-tournament .status {
	background-color: #444;
}

.lol .ended-tournament:hover .status {
	color: #fff;
}

.lol .left-part {
    float: left;
}
.lol .right-part {
    float: right;
    font-size: 14px;
}
.lol .right-part .event-date span {
	
}
.lol  .right-part .status {
    text-transform: uppercase;
    font-weight: bold;
}
.lol .mid-part {
    width: 280px;
    margin: 0 auto;
    color: #000;
}
.lol .title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 210px;
}
.lol .status {
    display: block;
    padding: 5px 8px;
    border-radius: 4px;
    float: right;
}

.lol .mid-part div {
    height: 30px;
}
.lol .mid-part div.clear {
    height: 0;
}
.lol .mid-part img {
    float: left;
    margin: 4px 10px 0 0;
}
.lol .mid-part span {
    line-height: 30px;
    display: block;
    font-size: 18px;
}

.participants .block {
    padding: 15px;
    border: 1px solid #fff;
    background-color: #32333b;
    width: 170px;
    margin: 20px 70px 0 0;
    min-height: 0;
    cursor: pointer;
}
.participants .block:nth-child(3n) {
    margin-right: 0 !important;
}
.participants .block:nth-of-type(-n+3) {
    margin-top: 0 !important;
}
.participants .block .team-name {
    margin-bottom: 0;
    float: left;
    position: relative;
    color: #eee;
    font-size: 16px;
}
.participants .block ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    word-break: break-all;
}
.participants .block .team-num {
    float: right;
    font-size: 14px;
    color: #bbb;
    margin-top: 3px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
.participants .player-list {
    display: none;
}
.participants .player-list a:hover {
    color: #fff;
}

.reg-completed {
	display: none;
	font-size: 18px;
	margin: 0;
}
.alpha {
	opacity: 0.5;
}
#join-form input[type='text'], #join-form textarea, #join-form input[type='text'] {
    width: 40%;
    float: left;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
}
#join-form .message {
	width: 50%;
}
.form .message, #join-form .message {
    float: left;
    height: 29px;
    min-width: 29px;
    padding-left: 35px;
    padding-top: 6px;
    margin-left: 10px;
    margin-top: 2px;
}
.form .error, #join-form .error {
    background: url('../images/error.png') no-repeat left center;
    color: #ea6b6b;
}
.form .success, #join-form .success {
    background: url('../images/success.png') no-repeat left center;
    color: #32b229;
}

footer .games img {
    margin-right: 20px;
}

.block .panel-links {
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.block .panel-links li a {
    color: #000;
    display: block;
    padding: 10px 15px;
    transition: .5s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.block .panel-links li a:hover {
    background-color: #1697e1;
    color: #eee;
}
.block .panel-links li a.inactive:hover {
    background-color: #444;
    color: #eee;
    cursor: default;
}

#toTop {
    position: fixed;
    background: url('../images/to-top.png') no-repeat 50% 50% #222;
    opacity: 0.7;
    border-radius: 8px;
    width: 30px;
    height: 35px;
    bottom: 20px;
    right: 40px;
    overflow: hidden;
    border: none;
    
    cursor: pointer;
    display: none;
}
#toTop:hover {
    background-color: #555 !important;
    opacity: 0.8;
}

.notification {
    margin-bottom: 20px;
    font-size: 16px;
}

.opponent-info {
    font-size: 17px !important;
}
.opponent-info label {
    text-transform: uppercase;
    display: inline-block;
    width: 110px;
}
.opponent-info .online {
    font-weight: bold;
    color: #0f750d;
}
.opponent-info .offline {
    color: #5e0909;
}
.opponent-info .not-none {
    font-weight: bold;
}

.chat {
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.chat .chat-content {
    padding: 5px 10px;
    font-size: 13px;
    min-height: 200px;
    height: 300px;
    max-height: 500px;
    border-bottom: 1px solid #000;
    border-radius: 4px 4px 0 0;
    background-color: #dedede;
    font-size: 15px;
    overflow-y: auto;
    resize: vertical;
}
.chat .chat-content #notice {
    font-size: 12px;
    color: #999;
}
.chat .chat-input {
    padding: 0 5px;
    height: 30px;
    background-color: #efefef;
    border-radius: 0 0 4px 4px;
}
.chat .chat-input input[type="text"] {
    width: 93%;
    padding: 6px 0;
    border: 0;
    background: none;
    outline: none;
}
.chat .attach-file {
    background-image: url('../images/attach-file.png');
    background-repeat: no-repeat;
    background-color: #ddd;
    background-position: center center;
    height: 25px;
    width: 25px;
    float: right;
    margin-top: 1px;
    border: 1px solid #777;
    cursor: pointer;
}
.chat .attach-file:hover {
    background-color: #eee;
}

#fightStatus.online {
	color: #090;
}

.zoom-in {
	position: relative;
	display: table;
}
.zoom-in .fader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/zoom.png) no-repeat 50% 50% #000;
	opacity: 0;
	top: 0;
	left: 0;
	transition: .3s;
}
.zoom-in:hover .fader {
	opacity: 0.4;
}

.ad-holder {
	padding: 6px !important
}

.maintenance {
	font-size: 25px;
	text-align: center;
	width: 100%;
}
.maintenance img {
	display: block;
	margin: 20px auto 0 auto;
}
.fb-comments-count {
    display: inline;
}