//#1697e1
/* Reset like things */
img,p,td{border: 0;margin: 0;padding: 0;}
a{text-decoration: none;color: #1697e1;transition: .5s;}
a:hover{color: #555; }
.clear {clear:both;}
.fright {float:right;}
a img {border: 0;}

@font-face {
    font-family: 'entyporegular';
    src: url('Entypo-webfont.eot');
    src: url('Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('Entypo-webfont.woff') format('woff'),
         url('Entypo-webfont.ttf') format('truetype'),
         url('Entypo-webfont.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    background-image:url(../images/bg.png);
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}

#full-site-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#head-line {
    min-height: 20px;
}

.hidden {
    display: none;
}

.button {
    color: #eee;
    display: inline-block;
    background-color: #1697e1;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.button.loading {
	background-image:url(../images/loading.gif);
	background-position: 50%;
	background-repeat: no-repeat;
}
.button:hover {
    color: #fff;
    background-color: #2878d1;
}

.timer {
    cursor: default;
}

.container {
    width: 1170px;
    position: relative;
    margin: 0px auto 0px auto;
}

header {
    padding: 15px 0;
    background-color: #2b2b2b;
    min-height: 50px;
}
header .logo {
    margin-left: 20px;
    float: left;
}
header .logo img {
    width: 150px;
    height: 72px;
}
header .header-middle {
    float: left;
    margin-left: 150px;
}
header .social {
    margin: 5px 10px 0 0;
}
header .social a {
    background-image: url('../images/icons.png');
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}
header .social a.fb {
    background-position: 0px 0px;
    width: 30px;
}
header .social a.fb:hover {
	background-position: 0px -36px;
}
header .social a.tw {
    background-position: -38px 0px;
    width: 27px;
}
header .social a.tw:hover {
	background-position: -38px -36px;
}
header .social a.gp {
    background-position: -74px 0px;
    width: 29px;
}
header .social a.gp:hover {
	background-position: -74px -36px;
}
header .social a.yt {
    background-position: -109px 0px;
    width: 28px;
}
header .social a.yt:hover {
	background-position: -109px -36px;
}
header .social a.tv {
    background-position: -177px 0px;
    width: 28px;
}
header .social a.tv:hover {
	background-position: -177px -36px;
}
header .social a.vk {
    background-position: -212px 0px;
    width: 28px;
}
header .social a.vk:hover {
	background-position: -212px -36px;
}
header .social a.sm {
    background-position: -143px 0px;
    width: 28px;
}
header .social a.sm:hover {
	background-position: -143px -36px;
}
header .languages {
    float: right;
    margin: 5px 20px 0 0;
    color: #fff;
    font-size: 16px;
    position: relative;
    line-height: 30px;
}
header .languages img {
    float: left;
    margin: 2px 5px 0 0;
}
header .language-switcher {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 10px;
    min-width: 150px;
    border-radius: 8px;
    z-index: 2;
    background: #343434;
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #43CDEF;
}
header .language-switcher .title {
    font-weight: bold;
}
header .language-switcher a {
    display: inline-block;
    margin: 5px 0;
    white-space: nowrap;
    width: 100%;
}

footer {
    margin: 30px auto 0 auto !important;
    background-color: #1f1f1f;
}
footer .copyrights {
    color: #888;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #484848;
    font-size: 12px;
    line-height: 20px;
}
footer .copyrights .rights {
    float: left;
    margin: 3px 0 0 15px;
}
footer .copyrights .devs {
    float: right;
    color: #888;
    margin: 3px 15px 0 0;
}
footer .copyrights .devs:hover {
    color: #1697e1;
}

.navbar {
    background: linear-gradient(to bottom,  rgba(39,198,208,1) 0%,rgba(33,127,187,1) 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #43CDEF;
    
    height: 67px;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    list-style: none;
    padding: 0;
}
.navbar .nav .nav-link {
    float: left;
    line-height: 20px;
    position: relative;
}
.navbar .nav .nav-link a {
    opacity: 0.8;
    padding: 18px 20px 23px 20px;
    display: block;
    margin-top: 6px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    font-family: Open Sans;
}
.navbar .nav .nav-link a:hover {
    transition:.3s;
    opacity: 1;
}
.navbar .nav .nav-link.active a {
    opacity: 1;
}

.navbar .nav .nav-link:hover .nav-sub {
    display: block;
}
.navbar .nav-sub {
    display: none;
    position: absolute;
    left: 0;
    top: 67px;
    z-index: 10;
    background-color: #000;
    margin: 0;
    list-style: none;
    padding: 0;
    
}
.navbar .nav-sub .nav-sublink {
    border-bottom: 1px solid #32333b;
}
.navbar .nav-sub .nav-sublink a {
    font-size: 11px;
    white-space: nowrap;
    margin: 0;
    padding: 15px;
    text-transform: none;
    font-weight: normal;
}
.nav-user {
    float: right !important;
    position: relative;
}
.nav-user .nav-link {
    min-width: 140px;
}
.nav-avatar {
    position: absolute;
    top: 0;
    left: -66px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: 1px solid #555;
    height: 64px;
}
.nav-avatar img {
    height: 64px;
}
.nav-avatar a {
    margin: 0 !important;
    padding: 0 !important;
    opacity: 1 !important;
    
}
.nav-user .nav-sub {
    right: 0;
    left: 0;
}

.page {
    width: 1130px;
    background-color: #f1f1f1;
    padding: 20px;
}
.left-containers {
    width: 790px;
    float: left;
}
.right-containers {
    width: 316px;
    float: right;
}
.right-containers .block {
    margin-bottom: 40px;
}

.block {
    width: 100%;
    min-height: 40px;
}
.block .block-header-wrapper {
    background-color: #32333b;
    min-height: 41px;
}
.block .block-header-wrapper h1 {
    background: linear-gradient(to bottom,  rgba(39,198,208,1) 0%,rgba(33,127,187,1) 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.3), inset 0 1px 1px 1px #43CDEF;
    margin: 0;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}
.block .block-header-wrapper  h1.bordered {
    border-radius: 0 20px 0 0/0 40px 0 0;
    padding: 0px 30px 0px 13px;
    float: left;
    line-height: 40px;
}
.block .block-content {
	display: block;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
}

.promo {
    width: 100%;
    height: 370px;
    overflow: hidden;
    position: relative;
    margin: 0 0 40px 0;
}

.big-block {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
}
.big-block .image-holder {
    display: block;
    width: 100%;
    /*min-height: 144px;*/
    max-height: 370px;/*280*/
    background-color: #999 !important;
    text-align: center;
    font-weight: bold;
}
.big-block .image-holder img {
    margin: 0;
    padding: 0;
}
.big-block .image-holder p {
    color: #fff;
    line-height: 100px;
    margin: 0;
}
.big-block .title {
    display: block;
    margin: 20px 20px 5px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.big-block .text {
    display: block;
    color: #444;
    line-height: 21px;
    font-size: 13px;
    margin: 0;
    padding: 0 20px 20px 20px;
}
.article .big-block div.text {
	display: block;
    line-height: 21px;
    font-size: 13px;
    margin: 20px 0 0 0;
    color: #000;
    padding: 0 20px 20px 20px;
}
.big-block .add-box {
    position: absolute;
    top: 20px;
    left: -65px;
    width: 65px;
    background-color: #32333b;
}
.big-block .add-box .date {
    box-shadow: inset -3px 0 3px 0 rgba(0,0,0,0.2);
    text-align: center;
    font-size: 16px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(to bottom,  #27c6d0 0%,#217fbb 100%); /* W3C */
}
.big-block .add-box .like {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.big-block .add-box .like:hover .like-icon {
    background-image: url('../images/like-active.png');
}
.big-block .add-box .like {
    white-space: nowrap;
}
.big-block .add-box .like span {
    display: inline-block;
    font-size: 15px;
    padding: 5px 0 5px 5px;
    line-height: 30px;
    font-weight: bold;
}
.big-block .add-box .like:hover {
    color: #999;
}
.big-block .add-box .like-icon {
    display: inline-block;
    background-image: url('../images/like-gray.png');
    background-repeat: no-repeat;
    height: 12px;
    width: 13px;
    margin: 15px 0 0 27px;
}
.big-block .add-box .like-icon.active {
	background-image: url('../images/like-active.png');
}

.news .small-block {
    float: left;
    width: 30%;
    min-height: 150px;
    margin-right: 5%;
    margin-bottom: 20px;
}
.news .small-block:nth-child(3n) {
    margin-right: 0;
}
.news .small-block .image-holder {
    background-color: #999;
    width: 100%;
    height: 170px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.news .small-block .image-holder a {
    color: #fff;
}
.news .small-block .image-holder p {
    display: block;
    padding-top: 75px;
}
.news .small-block a.title {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    height: 48px;
    overflow: hidden;
}
.news .small-block .info {
    color: #777;
    text-transform: uppercase;
}
.news .small-block .info .dates {
    float: left;
}
.news .small-block .info .comments {
    float: right;
    color: #fff;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 0 5px;
    text-align: center;
    transition: .5s;
}
.news .small-block .info .comments:hover {
    background-color: #1697e1;
}

.next-tournaments {
    text-align: center;
}
.next-tournaments h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.next-tournaments .timer {
    font-size: 50px;
    display: block;
    margin-top: 10px;
}
.next-tournaments .button {
    font-size: 18px;
    padding: 10px 20px;
}
.news .big-block.readmore {
	margin-bottom: 40px !important;
}
.big-block.readmore {
	padding: 20px !important;
}
.readmore .news-info {
	float: left;
	color: #333;
	line-height: 38px;
	font-weight: bold;
}
.readmore .news-share {
	float: right;
    margin-top: 1px;
}
.readmore .button {
	float: right;
}

.block .block-divider {
	height: 1px;
	background: #ccc;
	margin: 30px 0;
}
.comments h2 {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 40px;
	margin: 10px 0;
	color: #666;
}
.comments .disabled {
	color: #666;
	text-transform: uppercase;
	font-size: 15px;
}

.incoming-tournament {
    position: relative;
}
.incoming-tournament .tourn-name {
    width: 70%;
    float: left;
    overflow: hidden;
    height: 40px;
}
.incoming-tournament .timer {
    text-align: right;
}
.incoming-tournament .button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    opacity: 0;
    transition: .5s !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
}
.incoming-tournament:hover .button {
    opacity: 1;
}

.facebook-holder, .vk-holder {
    padding: 3px !important;
    overflow: hidden;
}

footer .separator {
    margin: 20px 1% 0 1%;
    float: left;
}
footer .separator.left {
    width: 490px;
}
footer .separator.right {
    width: 630px;
}
footer .block .block-content {
    background-color: inherit;
    box-shadow: none;
    text-align: center;
}
footer .partners img, footer .games img {
    max-width: 315px;
}
footer .partners .a {
    float: left;
}
footer .partners .unicon {
    float: left;
    margin-left: 20px;
}
footer .partners .skillz {
    float: left;
    margin: 20px 0 0 20px;
}
footer .partners .dreamforge {
    float: left;
    margin: 20px 0 0 0;
}
footer .partners .lesf {
    margin: 30px 0 0 20px;
    float: left;
}
footer .partners .aimskillz {
    margin: 20px 0 0 20px;
    float: left;
}


#hint-helper {
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #999;
    max-width: 180px;
    background-color: #fff;
    border-radius: 4px;
    display: none;
}
#hint-helper p {
    padding: 10px;
    margin: 0;
    font-size: 13px;
}

.team .block {
	margin-bottom: 40px;
}
.team .team-list .game-logo {
	text-align: center;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.team .team-user {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    width: 365px;
    margin-right: 20px;
    float: left;
    height: 100px;
    overflow: hidden;
}
.team .team-user:nth-child(even) {
    margin-right: 0;
}
.team .team-user .icon {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.team .team-user .icon img {
    width: 100px;
    height: 100px;
}
.team .team-user .name {
	padding: 15px 0 0 15px;
	font-size: 17px;
	font-weight: bold;
	color: #777;
}
.team .team-user .role {
	padding: 5px 0 0 15px;
	font-size: 14px;
	text-transform: uppercase;
}
.team .team-user .email {
    padding: 5px 0 10px 15px;
	font-size: 13px;
    font-style: italic;
}

.contact-form .fields {
	margin-bottom: 15px;
	white-space: nowrap;
	clear: both;
}
.contact-form .fields label {
	display: block;
	border: 1px solid #999;
	border-radius: 4px 0 0 4px;
	background-color: #ccc;
	padding: 0;
	margin: 0;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	float: left;
}
.contact-form .fields input,
.contact-form .fields select,
.contact-form .fields textarea {
	width: 645px;
	border: 1px solid #999;
	margin: 0 0 0 -1px;
	border-radius: 0 4px 4px 0;
	padding-left: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
.contact-form .fields input:focus,
.contact-form .fields select:focus,
.contact-form .fields textarea:focus {
	border-color: #1697e1;
	transition: linear .3s;
	outline: 0;
}
.contact-form .fields input {
	height: 38px;
}
.contact-form .fields select {
	width: 655px;
	vertical-align: middle;
	padding: 11px 5px;
	display: block;
	height: 42px;
}
.contact-form .fields textarea {
	padding: 10px;
	width: 635px;
	height: 300px;
}
.fields .holder {
    width: 605px;
    min-height: 40px;
	border: 1px solid #999;
	margin: 0 0 0 141px;
	border-radius: 0 4px 4px 3px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
.contact-form .button {
	margin-left: 90px;
}

#success {
    display: none;
}
#error {
	border: 1px solid #900;
	background-color: #CE2929;
	color: #fff;
	margin-bottom: 20px;
	display: none;
}
.red {
    color: #CE2929;
}
.error-add {
	border: 1px solid #900;
	background-color: #CE2929;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}
.info-add {
	border: 1px solid #E5DC2D;
	background-color: #F7EF85;
	color: #555;
	padding: 10px;
	margin-bottom: 20px;
}
.success-sent p, #error p {
	padding: 10px;
	margin: 0;
	font-size: 16px;
}
.success-add, #success {
	padding: 10px;
	border: 1px solid #090;
	background-color: #2D6B15;
	color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
#success {
    margin-bottom: 10px;
}

.success-sent {
	display: none;
	border: 1px solid #090;
	background-color: #2D6B15;
	color: #fff;
	padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
}

.tournament-rules {
	color: #444;
}
.tournament-rules h1 {
	margin: 5px 0;
}
.tournament-rules p {
	margin: 0;
	padding: 0;
}

.lol .block {
	margin-bottom: 40px;
}

.lol .active-tournament:hover {
	background-color: #1697E1;
}
.lol .ended-tournament:hover {
	background-color: #bbb;
}
.lol .active-tournament:hover, .lol .active-tournament:hover .right-part {
	color: #fff;
}
.lol .ended-tournament:hover {
	color: #000;
} 

.lol .active-tournament .status {
	background-color: #1697E1;
	color: #fff;
}
.lol .ended-tournament .status {
	background-color: #444;
}

.lol .ended-tournament:hover .status {
	color: #fff;
}

.lol .left-part {
    float: left;
}
.lol .right-part {
    float: right;
    font-size: 14px;
}
.lol .right-part .event-date span {
	
}
.lol  .right-part .status {
    text-transform: uppercase;
    font-weight: bold;
}
.lol .mid-part {
    width: 280px;
    margin: 0 auto;
    color: #000;
}
.lol .title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    width: 285px;
    white-space: nowrap;
}
.lol .title img {
    float: left;
    margin-right: 10px;
}
.lol .participant_count {
    margin-top: 15px;
}
.lol .status {
    display: block;
    padding: 5px 8px;
    border-radius: 4px;
    float: right;
}

.lol .mid-part div {
    height: 30px;
}
.lol .mid-part div.clear {
    height: 0;
}
.lol .mid-part img {
    float: left;
    margin: 4px 10px 0 0;
}
.lol .mid-part span {
    line-height: 30px;
    display: block;
    font-size: 16px;
}
.lol .success-add, .lol .error-add, .lol .info-add {
    margin-top: 0;
}
.lol .check-in-holder {
    text-align: center;
}
.lol .connect-team {
    text-align: center;
    margin-bottom: 20px;
}

.participants .block {
    padding: 15px;
    border: 1px solid #fff;
    background-color: #32333b;
    width: 170px;
    margin: 20px 70px 0 0;
    min-height: 0;
    cursor: pointer;
}
.participants .block:nth-child(3n) {
    margin-right: 0 !important;
}
.participants .block:nth-of-type(-n+3) {
    margin-top: 0 !important;
}
.participants .block .team-name {
    margin-bottom: 0;
    float: left;
    position: relative;
    color: #eee;
    font-size: 16px;
    width: 140px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.participants .block ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    word-break: break-all;
}
.participants .block .team-num {
    float: right;
    font-size: 14px;
    color: #bbb;
    margin-top: 3px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}
.participants .player-list {
    display: none;
}
.participants .player-list a:hover {
    color: #fff;
}

.participants .player-heroes {
    margin-top: 5px;
}
.participants .player-heroes div {
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 0;
}
.participants .player-heroes div:nth-child(4n) {
    margin: 0;
}

.reg-completed {
	display: none;
	font-size: 18px;
	margin: 0;
}
.team-edit-completed {
	display: none;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.alpha {
	opacity: 0.5;
}
#join-form input[type='text'], #join-form textarea, #join-form input[type='text'], #join-form select {
    width: 40%;
    float: left;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
}
#join-form input[type='checkbox'] {
    float: left;
    display: block;
    margin: 14px 5px 0 0;
}
#join-form label {
    float: left;
    font-size: 14px;
    width: 40%;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}
#join-form select {
    margin-right: 15px;
}
#join-form .message {
	width: 50%;
}
.form .message, #join-form .message {
    float: left;
    height: 29px;
    min-width: 29px;
    padding-left: 35px;
    padding-top: 6px;
    margin-left: 10px;
    margin-top: 2px;
}
.form .error, #join-form .error {
    background: url('../images/error.png') no-repeat left center;
    color: #ea6b6b;
}
.form .success, #join-form .success {
    background: url('../images/success.png') no-repeat left center;
    color: #32b229;
}

footer .games img {
    margin-right: 20px;
}

.block .panel-links {
    display: block;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.block .panel-links li a {
    color: #000;
    display: block;
    padding: 10px 15px;
    transition: .5s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.block .panel-links li a:hover {
    background-color: #1697e1;
    color: #eee;
}
.block .panel-links li a.inactive:hover {
    background-color: #444;
    color: #eee;
    cursor: default;
}

#toTop {
    position: fixed;
    background: url('../images/to-top.png') no-repeat 50% 50% #222;
    opacity: 0.7;
    border-radius: 8px;
    width: 30px;
    height: 35px;
    bottom: 20px;
    right: 40px;
    overflow: hidden;
    border: none;
    
    cursor: pointer;
    display: none;
}
#toTop:hover {
    background-color: #555 !important;
    opacity: 0.8;
}

.notification {
    margin-bottom: 20px;
    font-size: 16px;
}

.opponent-info {
    font-size: 17px !important;
}
.opponent-info label {
    text-transform: uppercase;
    display: inline-block;
    width: 110px;
}
.opponent-info .online {
    font-weight: bold;
    color: #0f750d;
}
.opponent-info .offline {
    color: #5e0909;
}
.opponent-info .not-none {
    font-weight: bold;
}

.chat {
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.chat .chat-content {
    padding: 5px 10px;
    font-size: 13px;
    min-height: 200px;
    height: 300px;
    max-height: 500px;
    border-bottom: 1px solid #000;
    border-radius: 4px 4px 0 0;
    background-color: #dedede;
    font-size: 15px;
    overflow-y: auto;
    resize: vertical;
}
.chat .chat-content #notice {
    font-size: 12px;
    color: #999;
}
.chat .chat-input {
    padding: 0 5px;
    height: 30px;
    background-color: #efefef;
    border-radius: 0 0 4px 4px;
}
.chat .chat-input input[type="text"] {
    width: 90%;
    padding: 6px 0;
    border: 0;
    background: none;
    outline: none;
}
.chat .chat-input div {
    background-repeat: no-repeat;
    background-color: #ddd;
    background-position: center center;
    height: 25px;
    width: 25px;
    float: right;
    margin-top: 1px;
    margin-left: 3px;
    border: 1px solid #777;
    cursor: pointer;
}
.chat .chat-input div:hover {
    background-color: #eee;
}
.chat .attach-file {
    background-image: url('../images/attach-file.png');
}
.chat .chat-sound.on {
    background-image: url('../images/volume-on.png');
}
.chat .chat-sound.off {
    background-image: url('../images/volume-off.png');
}

#fightStatus.online {
	color: #090;
}

.zoom-in {
	position: relative;
	display: table;
}
.zoom-in .fader {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/zoom.png) no-repeat 50% 50% #000;
	opacity: 0;
	top: 0;
	left: 0;
	transition: .3s;
}
.zoom-in:hover .fader {
	opacity: 0.4;
}

.ad-holder {
	padding: 6px !important
}
.block .ad-blocked {
    display: none;
    background-color: #a00;
    color: #fff;
}

.maintenance {
	font-size: 25px;
	text-align: center;
	width: 100%;
}
.maintenance img {
	display: block;
	margin: 20px auto 0 auto;
}
.fb-comments-count {
    display: inline;
}
#tournamentCode {
    width: 625px;
    height: 70px;
    float: right;
}

.pages {
    display: block;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
}
.pages b {
    color: #fff;
    display: inline-block;
    background-color: #bbb;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 5px;
}
.pages a {
    color: #fff;
    display: inline-block;
    background-color: #1697e1;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
}
.pages a:hover {
    color: #fff;
    background-color: #2878d1;
}

.login {
    float: right;
    cursor: pointer;
    line-height: 65px;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: bold;
    transition: .5s;
}
.login .usericon {
    float: right;
    margin-left: 10px;
}
.login .usericon:before {
    display:block;
    content:'+';
    color:#111;
    font-family:'entyporegular';
    font-size:80px;
    transition: .5s;
}
.login:hover, .login:hover .usericon:before {
    color: #eee;
}

#fader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 10;
    display: none;
    background-color: #fff;
    opacity: 0.7;
    overflow: hidden;
}

.popup {
    position: fixed;
}

#login-window {
    width: 425px;
    margin: 0 auto;
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #43CDEF;
    background-color: #fff;
    border-radius: 8px;
    z-index: 11;
}

#login-window .login-inside {
    padding: 15px;
}
#login-window .login-inside h1 {
    margin: 0;
}
#login-window .login-inside h2 {
    color: #888;
    font-size: 16px;
}
#login-window .login-inside .information {
    font-style: italic;
    color: #555;
    font-size: 14px;
    margin-top: 10px;
}
#login-window .login-inside a:hover img {
    opacity: 0.6;
    transition: .5s;
}

.profile .fields label {
	width: 140px !important;
}
.profile .fields input, .profile .fields p {
    width: 595px !important;
}
.profile .fields select {
    width: 605px !important;
}
.profile .fields p {
    display: inline-block;
	border: 1px solid #999;
	margin: 0 0 0 -1px;
	border-radius: 0 4px 4px 0;
	padding-left: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    height: 40px;
    background-color: #eee;
    line-height: 40px;
}

.profile .button {
	margin-left: 140px !important;
    margin-bottom: 30px;
}

.connections {
    margin-top: 20px;
}
.connections .status-holder {
    width: 500px;
    margin: 0 auto;
    position: relative;
}
.connections .connect-line {
    position: absolute;
    border-bottom: 1px solid #999;
    width: 255px;
    top: 20px;
    left: 125px;
}
.connections .connect-line.dashed {
    border-bottom: 1px dashed #999;
}
.connections .status {
    float: right;
}
.connections .status a {
    display: block;
    border-radius: 8px;
    padding: 5px 0;
    height: 30px;
    width: 120px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}
.connections .status a.connected {
    background-color: #081;
}
.connections .status a.disconnected {
    background-color: #811;
}
.connections .status a.connected:hover, .connections .status a.disconnected:hover {
    background-color: #1697e1;
}

.registration-complete {
    margin-bottom: 20px;
}

.leave-comment.fields {
	margin-bottom: 15px;
	white-space: nowrap;
	clear: both;
}
.leave-comment .fields label {
	display: block;
	border: 1px solid #999;
	border-radius: 4px 0 0 4px;
	background-color: #ccc;
	padding: 0;
	margin: 0;
	width: 90px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	float: left;
}
.leave-comment .fields textarea {
	width: 770px;
    padding: 10px;
	border: 1px solid #999;
	margin: 0 0 0 -1px;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
    resize: vertical;
    min-height: 80px;
}
.leave-comment .fields textarea:focus {
	border-color: #1697e1;
	transition: linear .3s;
	outline: 0;
}
.leave-comment .button {
    margin-top: 10px;
}

.leave-comment .formatting {
    width: 790px;
    background: linear-gradient(to bottom,  rgba(39,198,208,1) 0%,rgba(33,127,187,1) 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #43CDEF;
}
.leave-comment .formatting .formbut {
    padding: 0 5px;
    width: 27px;
    height: 30px;
    float: left;
    border-right: 1px solid #eee;
    cursor: pointer;
    background-image: url(../images/lol_icon_sprite.png);
    background-repeat: no-repeat;
    background-color: transparent;
}
.leave-comment .formatting .b {
    background-position: 11px;
}
.leave-comment .formatting .i {
    background-position: -16px;
}
.leave-comment .formatting .s {
    background-position: -41px;
}
.leave-comment .formatting .link {
    background-position: -69px;
}
.leave-comment .formatting .q {
    background-position: -101px;
}
.leave-comment .formatting .list {
    background-position: -131px;
}

.user-comments {
    width: 100%;
    display: block;
    margin-top: 20px;
}
.user-comments .master {
    border-top: 2px solid #c1c1c1;
    margin-bottom: 20px;
    background-color: #e8e8e8;
    padding: 10px;
    color: #555;
    font-size: 14px;
}
.user-comments .master p {
    margin: 0 0 10px 0;
    padding: 0;
}
.user-comments .comment-user {
    color: #111;
    line-height: 30px;
}
.user-comments .comment-user .avatar-block {
    height: 28px;
    float: left;
    margin-right: 5px;
    border: 1px solid #fff;
    outline: 1px solid #999;
}
.user-comments .comment-time {
    color: #717171;
    font-size: 12px;
    font-weight: 400px;
    font-style: italic;
}
.user-comments blockquote {
    border-left: 2px solid #000;
    padding: 5px;
    margin: 0;
}

.donate .block-content p {
    padding: 0;
    margin: 0;
}
.donate a {
    margin-top: 10px;
    width: 245px;
    text-align: center;
    font-size: 20px;
}

/* Not in mobile */
.streamers .streamer {
    width: 100%;
    display: block;
    padding: 0 !important;
    cursor: pointer;
}
.edit-streamers .streamer {
    cursor: default;
}
.streamers .streamer:hover {
    background-color: #eee;
    transition: .3s;
}
.streamers .streamer .game-logo {
    float: left;
    height: 30px;
    padding: 4px 0 0 5px;
}
.streamers .streamer .streamer-name {
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    cursor: pointer;
}
.streamers .streamer .viewers {
    float: right;
    padding: 10px 10px 0 0;
}
.streamers .hidden_info {
    display: none;
}
.streamers .featured {
    background-color: #1697e1;
    color: #000;
}
.streamers .featured:hover {
    background-color: #2878d1;
    transition: .3s;
}

.add-streamer {
    margin-top: 40px;
}

.heroes-images {
    margin: 10px 0 30px 0;
}
.heroes-images h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.heroes-images div {
    float: left;
    margin-bottom: 15px;
}
.hsicons {
    background-image: url('../images/hs_icons_by_mgbeach.png');
    background-repeat: no-repeat;
}
.hsicons.active {
    width: 200px;
    height: 185px;
}
.hsicons.druid {
    background-position: 0 0;
}
.hsicons.hunter {
    background-position: -200px 0;
}
.hsicons.mage {
    background-position: -400px 0;
}
.hsicons.paladin {
    background-position: -600px 0;
}
.hsicons.priest {
    background-position: -800px 0;
}
.hsicons.rogue {
    background-position: 0 -188px;
}
.hsicons.shaman {
    background-position: -200px -188px;
}
.hsicons.warlock {
    background-position: -400px -188px;
}
.hsicons.warrior {
    background-position: -600px -188px;
}

.hsicons-small {
    background-image: url('../images/hs-small-icons.png');
    background-repeat: no-repeat;
    width: 36px;
    height: 18px;
}
.hsicons-small.druid {
    background-position: 0 0;
}
.hsicons-small.hunter {
    background-position: 0 -18px;
}
.hsicons-small.mage {
    background-position: 0 -36px;
}
.hsicons-small.paladin {
    background-position: 0 -54px;
}
.hsicons-small.priest {
    background-position: 0 -72px;
}
.hsicons-small.rogue {
    background-position: 0 -90px;
}
.hsicons-small.shaman {
    background-position: 0 -108px;
}
.hsicons-small.warlock {
    background-position: 0 -126px;
}
.hsicons-small.warrior {
    background-position: 0 -144px;
}

.groups {
    
}
.groups .group {
    float: left;
    width: 48%;
    margin-bottom: 20px;
    border: 1px solid #222;
    border-radius: 5px;
    background-color: #32333b;
    color: #ddd;
}
.groups .group:nth-child(1n) {
    margin-right: 12px;
}
.groups .group .header {
    border-bottom: 1px solid #444;
    padding: 7px 0;
}
.groups .group h3 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 5px;
    color: #fff;
    font-family: Open Sans;
    float: left;
}
.groups .group .place {
    float: right;
    font-size: 13px;
    margin-top: 4px;
    margin-right: 5px;
    color: #fff;
}
.groups .group .group-list .holder {
    border-bottom: 1px solid #000;
    border-top: 1px solid #555;
    padding: 5px;
    margin: 0;
}
.groups .group .group-list .empty {
    font-style: italic;
}
.groups .group .group-list .holder:first-child {
    border-top: 0;
}
.groups .group .group-list .holder:last-child {
    border-bottom: 0;
}
.groups .group .group-list .holder .player-num {
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
.groups .group .group-list .holder .player-name {
    margin-left: 10px;
    display: block;
    float: left;
    width: 150px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.groups .group .group-list .holder .player-score {
    color: #fff;
    float: right;
    font-size: 15px;
}
.groups .group .group-list .holder.player-won,
.groups .group .group-list .holder.player-won  .player-num,
.groups .group .group-list .holder.player-won  .player-score {
    background-color: #FFD700;
    color: #333;
}

.groups .group .group-list .holder .player-heroes {
    display: inline-block;
    padding: 0;
    height: 18px;
    margin: 3px 0 0 5px;
}
.groups .group .group-list .holder .player-heroes div {
    display: inline-block;
    margin: 0;
}

.avatars-list {
    padding: 5px 10px 5px 0;
}
.avatars-list .avatar-block {
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 2px solid #fff;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
}
.avatars-list .avatar-block.picked, .avatars-list .avatar-block:hover {
    border: 2px solid #1697e1;
    opacity: 1;
    transition: .5s;
}

.summoners .summoner {
    width: 100%;
    display: block;
    padding: 0 !important;
    height: 38px;
}
.summoners .summoner:hover {
    background-color: #eee;
    transition: .3s;
}
.summoners .summoner.notApproved *:not(.status) {
    opacity: 0.5;
}
.summoners .summoner .game-logo {
    float: left;
    height: 30px;
    padding: 4px 0 0 5px;
}
.summoners .summoner .summoner-name {
    display: inline-block;
    height: 30px;
    margin: 10px 0 0 10px;
    font-weight: bold;
    cursor: pointer;
}
.summoners .summoner .right {
    float: right;
    padding: 10px 10px 0 0;
}
.summoners .summoner .status {
    float: right;
    line-height: 38px;
    margin-right: 20px;
    width: 130px;
    text-align: center;
}
.summoners .summoner.approved .status {
    background-color: #090;
    color: #fff;
    cursor: default;
}
.summoners .summoner.notApproved .status {
    background-color: #900;
    color: #fff;
}
.summoner-form .success-sent {
    margin-top: 20px;
}

.how_to_approve {
    margin-top: 40px;
    display: none;
}
.summoner-verification-image {
    position: relative;
}
.how_to_approve .verification-code {
    position: absolute;
    top: 87px;
    left: 92px;
    width: 175px;
    height: 25px;
    line-height: 28px;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    padding: 0 5px;
}
.how_to_approve .button {
    margin-top: 20px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 1280px) {
}

/* Galaxy tab */
@media (max-width: 1024px) {
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        background: none;
    }
    header .header-middle {
        display: none;
    }
    #head-line  {
        min-height: 0;
    }
    .container {
        width: 480px;
    }
    .page {
        padding: 20px 0;
    }
    
    header {
        padding: 5px 0;
        min-height: 0;
    }
    header .logo {
        margin-left: 10px;
    }
    header .logo img {
        width: 100px;
        height: auto;
    }
    header .social {
        margin: 5px 5px 0 0;
    }
    header .social a {
        margin-right: 2px;
        transition: 0 !important;
    }
    header .languages {
        margin: 10px 5px 0 0;
    }
    header .language-switcher {
        top: 35px;
    }
    header .header-middle {
        display: none;
    }
    .navbar {
        height: auto;
    }
    .navbar .nav .nav-link {
        float: none;
    }
    .navbar .nav .nav-link a {
        padding: 5px 0 10px 10px
    }
    .left-containers, .right-containers {
        float: none;
        width: auto;
    }
    .right-containers {
        margin-top: 10px;
    }
    .promo {
        display: none;
    }
    .block .block-header-wrapper {
        background: none;
    }
    .block .block-header-wrapper h1 {
        padding: 5px;
    }
    .big-block .image-holder {
        max-width: 480px;
        max-height: 140px;
    }
    .big-block .image-holder img {
        max-width: 320px;
    }
    .big-block .add-box {
        display: none;
    }
    .big-block.readmore {
        padding: 2px !important;
    }
    .readmore .news-info {
        float: none;
        text-align: center;
    }
    .readmore .button {
        float: none;
        margin: 0 0 10px 100px;
    }
    .news .small-block {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .news .small-block .image-holder {
        width: 225px;
        margin: 0 auto;
    }
    #toTop, #hint-helper {
        display: none !important;
    }
    .block .block-header-wrapper h1.bordered {
        float: none;
    }
    .right-containers .block {
        margin-bottom: 10px;
    }
    footer .separator {
        width: 100% !important;
        margin: 0 0 10px 0;
        float: none;
    }
    footer .partners a {
        position: initial !important;
        left: initial !important;
    }
    footer .copyrights {
        margin: 0;
        padding: 0;
    }
    footer .copyrights .rights, footer .copyrights .devs {
        margin: 3px 0 0 5px;
        float: none;
    }
    #login-window {
        width: 420px;
    }
    .contact-form .fields input {
        width: 165px;
    }
    .contact-form .fields select {
        width: 175px;
    }
    .contact-form .fields textarea {
        width: 155px;
        height: 150px;
    }
    .lol .title {
        width: auto;
        white-space: initial;
    }
    .lol .title img {
        display: none;
    }
    .lol .right-part, .lol .left-part, .lol .mid-part {
        float: none;
        font-size: 15px;
    }
    .lol .mid-part {
        display: none;
    }
    .ended-tournament, .active-tournament {
        position: relative;
        padding: 5px !important;
    }
    .lol .right-part .status {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .navbar .nav-sub {
        display: block !important;
        position: initial;
        left: initial;
        top: initial;
        background: 0;
    }
    .navbar .nav-sub .nav-sublink {
        border-bottom: 0;
    }
    .comments {
        margin: 0 10px;
    }
    .profile .fields label {
        width: 100px !important;
    }
    .profile .fields input, .profile .fields p {
        width: 165px !important;
    }
    .profile .fields select {
        width: 175px !important;
    }
    .profile .button {
        margin-left: 90px !important;
    }
    .connections .status-holder {
        width: 275px;
    }
    .connections .connect-line {
        width: 30px;
    }
    .readmore .news-share {
        float: none;
        margin-left: 5px;
    }
    .leave-comment .formatting {
        width: 300px;
    }
    .leave-comment .fields textarea {
        width: 280px;
    }
    .chat .chat-input input[type="text"] {
        width: 365px;
    }
    #tournamentCode  {
        width: 315px;
    }
    .fields .holder {
        width: 180px;
        margin: 0 0 0 101px
    }
    .avatars-list {
        padding: 5px 0;
        max-height: 200px;
        overflow-y: auto;
    }
}

/* Smallest phones */
@media (max-width: 320px) {
    .container {
        width: 320px;
    }
    
    .block .block-header-wrapper {
        min-height: 30px;
    }
    .block .block-header-wrapper h1 {
        padding: 5px;
    }
    .big-block .image-holder {
        max-width: 320px;
        max-height: 140px;
    }
    .big-block .image-holder img {
        max-width: 320px;
    }
    .big-block .add-box {
        display: none;
    }
    .big-block.readmore {
        padding: 2px !important;
    }
    .readmore .news-info {
        float: none;
        text-align: center;
    }
    .readmore .button {
        float: none;
        margin: 0 0 10px 100px;
    }
    .news .small-block {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .news .small-block .image-holder {
        width: 225px;
        margin: 0 auto;
    }
    #toTop, #hint-helper {
        display: none !important;
    }
    .block .block-header-wrapper h1.bordered {
        line-height: 29px;
        float: none;
    }
    .right-containers .block {
        margin-bottom: 10px;
    }
    footer .separator {
        width: 100% !important;
        margin: 0 0 10px 0;
        float: none;
    }
    footer .partners a {
        position: initial !important;
        left: initial !important;
    }
    footer .copyrights {
        margin: 0;
        padding: 0;
    }
    footer .copyrights .rights, footer .copyrights .devs {
        margin: 3px 0 0 5px;
        float: none;
    }
    #login-window {
        width: 300px;
    }
    .contact-form .fields input {
        width: 165px;
    }
    .contact-form .fields select {
        width: 175px;
    }
    .contact-form .fields textarea {
        width: 155px;
        height: 150px;
    }
    .lol .title {
        width: auto;
        white-space: initial;
    }
    .lol .title img {
        display: none;
    }
    .lol .right-part, .lol .left-part, .lol .mid-part {
        float: none;
        font-size: 15px;
    }
    .lol .mid-part {
        display: none;
    }
    .ended-tournament, .active-tournament {
        position: relative;
        padding: 5px !important;
    }
    .lol .right-part .status {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .navbar .nav-sub {
        display: block !important;
        position: initial;
        left: initial;
        top: initial;
        background: 0;
    }
    .navbar .nav-sub .nav-sublink {
        border-bottom: 0;
    }
    .comments {
        margin: 0 10px;
    }
    .profile .fields label {
        width: 100px !important;
    }
    .profile .fields input, .profile .fields p {
        width: 165px !important;
    }
    .profile .fields select {
        width: 175px !important;
    }
    .profile .button {
        margin-left: 90px !important;
    }
    .connections .status-holder {
        width: 275px;
    }
    .connections .connect-line {
        width: 30px;
    }
    .readmore .news-share {
        float: none;
        margin-left: 5px;
    }
    .leave-comment .formatting {
        width: 300px;
    }
    .leave-comment .fields textarea {
        width: 280px;
    }
    .chat .chat-input input[type="text"] {
        width: 200px;
    }
    #tournamentCode  {
        width: 155px;
    }
    .fields .holder {
        width: 180px;
        margin: 0 0 0 101px
    }
    .avatars-list {
        padding: 5px 0;
        max-height: 200px;
        overflow-y: auto;
    }
}