.button {
  background-color: #cf8889;
}

.block .block-header-wrapper {
  background-color: #32333b;
}

.block .block-header-wrapper h1 {
  background: linear-gradient(to bottom, #cf2732 0%, #ba222c 100%);
}