/* Project variables */
$mainColor: #3a64b2;
$secondaryColor: #e5dc2d;
$defaultBorderRadius: 8px;
$font: 'Open Sans';

/* Boostrap variables */
$link-hover-decoration: none;
$link-color: $mainColor;
$link-hover-color: #bbb;
$link-hover-decoration: none;
$font-family-base: $font;
$nav-link-padding: 0;
$table-border-width: 0;

/* Font-Awesome variables */
$fa-font-path: '../assets/font/';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/font-awesome/scss/font-awesome.scss';

@import './fonts.scss';
@import './styles.scss';
@import './small-screen.scss';

@import '../src/components/**/*.scss';