/* Site specific, menu breaks if less */
@media (max-width: 768px) {

.winter {
    .snow {
        &:last-of-type {
            height: 70px;
        }
        &:before {
            height: 71px;
            background-position: right bottom;
        }
    }
    .lights {
        position: absolute;
        top: 40px;
    }
}

}

/* Smallest phones */
@media (max-width: 767px) {

body {
    background: none;
    margin: 0;
}

.container {
    width: 320px;
    position: relative !important;
    padding: 0;
    margin: 0;
}

header {
    nav {
        margin-top: 0;
        float: initial;
        padding-top: 55px;
        .nav {
            width: 100%;
            margin: 0;
            .nav-link {
                float: initial;
                height: auto;
                line-height: 35px;
                border-top: 1px solid #373737;
                a {
                    padding: 5px 0 0 35px;
                }
                .nav-sub {
                    display: block;
                    position: initial;
                    left: initial;
                    top: initial;
                    background: 0;
                    top: 60px;
                    left: -67px;
                    .nav-sublink {
                        border: 0;
                    }
                }
                &:before {
                    top: 5px;
                }
            }
        }
    }
    .nav-user {
        min-height: 50px;
        li a {
            padding: 10px 8px;
        }
    }
    .login {
        span {
            display: none;
        }
        .mobile {
            display: inline-block;
        }
    }
}

.navbar {
    height: auto;
    .nav {
        .nav-link {
            float: none;
            a {
                padding: 5px 0 10px 10px
            }
        }
    }
    .nav-sub {
        display: block !important;
        position: initial;
        left: initial;
        top: initial;
        background: 0;
        .nav-sublink {
            border-bottom: 0;
        }
    }
}

#toTop, #hint-helper {
    opacity: 0;
}

#login-window {
    width: 300px;
    .button {
        width: 273px;
    }
    .form {
        .fields {
            input {
                width: 160px;
            }
        }
    }
    .pass-reg-links {
        .register-link {
            margin-right: 0;
        }
    }
    #ngError {
        width: 270px;
    }
}

.winter {
    .snow {
        &:last-of-type {
            height: 60px;
        }
        &:before {
            background-position: inherit;
            height: 60px;
        }
    }

    .lights {
        top: 30px;
    }
}

}