/* Site specific, menu breaks if less */
@media (max-width: 768px) {

body {
    margin: 0;
}
.burger {
    display: block !important;
    float: left;
    color: #fff;
    margin: 0 10px;
    transition: .5s;
    line-height: 50px;
    cursor: pointer;
    &.active {
        transform: rotate(90deg);
    }
}

header {
    position: relative !important;
    padding: 5px 0;
    min-height: 0;
    .header-middle {
        display: none;
    }
    .logo {
        margin-left: 10px;
        img {
            width: 100px;
            height: auto;
        }
    }
    .social {
        margin: 5px 5px 0 0;
        a {
            margin-right: 2px;
            transition: 0 !important;
        }
    }
    .languages {
        margin: 10px 5px 0 0;
    }
    .language-switcher {
        top: 35px;
    }
    nav {
        margin-left: 0;
        margin-top: 58px;
        float: none;
        .navbar-inner {
            display: none;
        }
        .nav {
            width: 100%;
            .nav-link {
                height: auto;
                line-height: 50px;
                float: none;
                border-top: 1px solid #373737;
                &:before {
                    top: 0;
                }
                a {
                    padding: 0 0 0 30px;
                }
                .nav-sub {
                    display: block !important;
                    position: initial;
                    left: initial;
                    top: initial;
                    background: 0;
                }
            }
        }
    }

    .nav-user {
        min-height: auto;
        margin: 0;
        li a {
            padding: 10px 8px;
        }
        .nav-avatar {
            height: 55px;
            left: -55px;
            img {
                height: 55px;
            }
        }
        .nav-sub {
            top: 58px;
            left: -68px;
        }
    }

    .login {
        line-height: 55px;
    }
}

.container {
    max-width: 860px;
    width: 100%;
}

.left-containers {
    float: none;
    min-width: inherit;
    width: auto;
    max-width: 860px;
}
.right-containers {
    width: 100%;
    float: none;
    margin-top: 10px;
    > .block {
        float: left;
        width: 320px;
        margin-right: 15px;
    }
    &::after {
        display: block;
        content: ' ';
        clear: both;
    }
}

.users-list {
    .cell5 {
        display: none !important;
    }
}

.winter {
    .snow {
        &:last-of-type {
            height: 70px;
        }
        &:before {
            height: 71px;
            background-position: right bottom;
        }
    }
    .lights {
        position: absolute;
        top: 40px;
    }
}

}

/* Smallest phones */
@media (max-width: 767px) {

body {
    background: none;
    margin: 0;
}

#head-line  {
    min-height: 0;
}


.promo {
    display: none;
}

.container {
    width: 320px;
    position: relative !important;
    padding: 0;
    margin: 0;
}

header {
    nav {
        margin-top: 0;
        float: initial;
        padding-top: 55px;
        .nav {
            width: 100%;
            margin: 0;
            .nav-link {
                float: initial;
                height: auto;
                line-height: 35px;
                border-top: 1px solid #373737;
                a {
                    padding: 5px 0 0 35px;
                }
                .nav-sub {
                    display: block;
                    position: initial;
                    left: initial;
                    top: initial;
                    background: 0;
                    top: 60px;
                    left: -67px;
                    .nav-sublink {
                        border: 0;
                    }
                }
                &:before {
                    top: 5px;
                }
            }
        }
    }
    .nav-user {
        min-height: 50px;
        li a {
            padding: 10px 8px;
        }
    }
    .login {
        span {
            display: none;
        }
        .mobile {
            display: inline-block;
        }
    }
}

.navbar {
    height: auto;
    .nav {
        .nav-link {
            float: none;
            a {
                padding: 5px 0 10px 10px
            }
        }
    }
    .nav-sub {
        display: block !important;
        position: initial;
        left: initial;
        top: initial;
        background: 0;
        .nav-sublink {
            border-bottom: 0;
        }
    }
}

.block {
    .block-header-wrapper {
        background: none;
        min-height: 30px;
        h1 {
            padding: 5px;
            &.bordered {
                border-radius: 0;
                line-height: 29px;
                float: none;
            }
        }
    }
}

#toTop, #hint-helper {
    opacity: 0;
}

.right-containers .block {
    margin-bottom: 10px;
}

footer {
    margin: 20px 0 0 0 !important;
    background-color: inherit;
    .separator {
        width: 100% !important;
        margin: 20px 0 10px 0;
        float: none;
        background-color: #1f1f1f;
    }
    .partners a {
        position: initial !important;
        left: initial !important;
    }
    .copyrights {
        margin: 0;
        padding: 0;
        text-align: center;
        .rights,
        .devs {
            margin: 3px 0 0 5px;
            float: none;
        }
    }
    .comments {
        margin: 0;
        .thread {
            max-width: 310px;
            overflow: hidden;
        }
    }
}

#login-window {
    width: 300px;
    .button {
        width: 273px;
    }
    .form {
        .fields {
            input {
                width: 160px;
            }
        }
    }
    .pass-reg-links {
        .register-link {
            margin-right: 0;
        }
    }
    #ngError {
        width: 270px;
    }
}

.profile {
    .fields {
        label {
            width: 100px !important;
        }
        input,
        p {
            width: 165px !important;
        }
        select {
            width: 175px !important;
        }
    }
    .button {
        margin-left: 90px !important;
    }
}

.connections {
    .status-holder {
        width: 275px;
    }
    .connect-line {
        width: 30px;
    }
}

.fields .holder {
    width: 180px;
    margin: 0 0 0 101px
}
.avatars-list {
    padding: 5px 0;
    max-height: 200px;
    overflow-y: auto;
}

.participants {
    .block {
        margin: 0 0 10px 0;
        box-sizing: border-box;
        width: 280px;
        &:nth-child(2n) {
            margin-right: 0 !important;
        }
        &:nth-of-type(-n+2) {
            margin-top: 0 !important;
        }
    }
    .team-name {
        width: 220px;
    }
}

.places {
    .second,
    .third {
        display: none;
    }
}

.users-list {
    .cell2,
    .cell3,
    .cell4 {
        display: none !important;
    }
    .cell5 {
        width: 115px;
    }
}

.partners {
    .partner {
        .logo {
            margin: 0 0 0 10px;
        }
    }
}

.achievement {
    .line-bar {
        display: none;
    }
}

.winter {
    .snow {
        &:last-of-type {
            height: 55px;
        }
        &:before {
            background-position: inherit;
            height: 56px;
        }
    }

    .lights {
        top: 25px;
    }
}

}