.open {
    overflow: hidden;

    header,
    section.page,
    footer {
		transform: translate(25%, 0);

        @media (max-width: 425px) {
            transform: translate(50%, 0);
        }
    }
}

a {
    transition: .5s;
}

.hidden {
    display: none;
}

.mobile {
    display: none;
}

[v-cloak] .v-cloak--hidden{
  display: none;
}

.template-holder {
    display: none;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    background-image: url('../assets/images/bg3.jpg');
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -100px;

    &.winter {
        background-image:url('../assets/images/bg-christmas.jpg');
    }
}

.page {
    width: 100%;
    flex: 1;
    position: relative;
    margin: 62px auto 0px auto;
    visibility: visible;
    height: auto;
    transition: .5s;

    @include clearfix();
}

.block-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 1rem;

    h2 {
        text-align: center;
        margin: 10px 0 30px 0;
        text-transform: uppercase;
        font-family: 'Nunito';
        font-weight: bold;
    }
}

#toTop {
    position: fixed;
    background: url('../assets/images/to-top.png') no-repeat 50% 50% #222;
    opacity: 0.7;
    border-radius: $defaultBorderRadius;
    width: 30px;
    height: 35px;
    bottom: 50px;
    right: 40px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    display: none;
    &:hover {
        background-color: #555 !important;
        opacity: 0.8;
    }
}

.maintenance {
	font-size: 2rem;
	text-align: center;
	width: 100%;

    img {
	    display: block;
	    margin: 20px auto 0 auto;
    }
}

//--- OLD BELOW
#hint-helper,
#message-window {
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #999;
    max-width: 300px;
    background-color: #fff;
    border-radius: 4px;
    display: none;
    z-index: 99;
    position: absolute;
    p {
        padding: 10px;
        margin: 0;
        font-size: 13px;
    }
    i {
        color: #777;
        font-size: 11px;
    }
}
#message-window {
    p {
        padding: 15px 35px 15px 15px;
    }
    .close {
        right: 10px;
        top: 10px;
    }
}

.form {
    .fields {
        margin-bottom: 15px;
        white-space: nowrap;
        clear: both;
        label {
            display: block;
            border: 1px solid #999;
            border-radius: 4px 0 0 4px;
            background-color: #ccc;
            padding: 0;
            margin: 0;
            width: 90px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            float: left;
        }
        input, select, textarea {
            border: 1px solid #999;
            margin: 0 0 0 -1px;
            border-radius: 0 4px 4px 0;
            padding-left: 10px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
            &:focus {
                border-color: #1697e1;
                transition: linear .3s;
                outline: 0;
            }
        }
        input {
            height: 38px;
        }
        select {
            width: 655px;
            vertical-align: middle;
            padding: 11px 5px;
            display: block;
            height: 42px;
        }
        textarea {
            padding: 10px;
            width: 635px;
            height: 300px;
        }
        input[type="file"] {
            padding: 10px 0 9px 10px;
            height: auto;
        }

        .holder {
            width: 605px;
            min-height: 40px;
            border: 1px solid #999;
            margin: 0 0 0 141px;
            border-radius: 0 4px 4px 3px;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
        }
    }
    .small {
        color: #555;
        font-style: italic;
        white-space: initial;
    }
    &.restore-password-form {
        label {
            width: 150px;
        }
        input {
            width: 585px;
        }
        button {
            font-size: 18px;
            width: 750px;
        }
        .captcha {
            width: 305px;
            margin: 0 auto 10px auto;
        }
    }
}
.form .message {
    float: left;
    height: 29px;
    min-width: 29px;
    padding-left: 35px;
    padding-top: 6px;
    margin-left: 10px;
    margin-top: 2px;
}
.form .error {
    background: url('../assets/images/error.png') no-repeat left center;
    color: #ea6b6b;
}
.form .success {
    background: url('../assets/images/success.png') no-repeat left center;
    color: #32b229;
}

#success {
    display: none;
}
#error {
	border: 1px solid #900;
	background-color: #CE2929;
	color: #fff;
	margin-bottom: 20px;
	display: none;
    p {
        padding: 10px;
        margin: 0;
        font-size: 16px;
    }
}
.error-add {
	border: 1px solid #900;
	background-color: #CE2929;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
}
.info-add {
	border: 1px solid $secondaryColor;
	background-color: #F7EF85;
	color: #555;
	padding: 10px;
	margin-bottom: 20px;
}
.success-sent p {
	padding: 10px;
	margin: 0;
	font-size: 16px;
}
.success-add, #success {
	padding: 10px;
	border: 1px solid #090;
	background-color: #2D6B15;
	color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
}
#success {
    margin-bottom: 10px;
}

.success-sent {
	display: none;
	border: 1px solid #090;
	background-color: #2D6B15;
	color: #fff;
	padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 13px;
}

.login {
    float: right;
    cursor: pointer;
    line-height: 80px;
    margin-right: 2%;
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    color: #ccc;
    transition: .5s;
}
.login .usericon {
    float: right;
    margin-left: 10px;
}
.login .usericon:before {
    display:block;
    content:'+';
    color:#ccc;
    font-family:'entyporegular';
    font-size:80px;
    transition: .5s;
}
.login:hover, .login:hover .usericon:before {
    color: #fff;
}

#fader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 10;
    display: none;
    background-color: #fff;
    opacity: 0.7;
    overflow: hidden;
}

.popup {
    position: fixed;
    z-index: 60;
    .close {
        background-image: url('../assets/images/graphics/closeX.png');
        width: 16px;
        height: 16px;
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
        &:hover {
            background-position: 0 16px;
        }
    }
}

#login-window {
    width: 440px;
    margin: 0 auto;
    box-shadow: 0 1px 2px rgba(0,0,0,.6), inset 0 1px 1px 1px #43CDEF;
    background-color: #fff;
    border-radius: $defaultBorderRadius;
    position: absolute;
    .login-inside {
        padding: 15px;
        h1 {
            margin: 0;
        }
        h2 {
            color: #888;
            font-size: 16px;
        }
        .information {
            font-style: italic;
            color: #555;
            font-size: 14px;
            margin-top: 10px;
        }
        a:hover img {
            opacity: 0.6;
            transition: .5s;
        }
    }
    .form {
        h1 {
            padding-bottom: 10px;
        }
        .fields {
            label {
                width: 100px;
            }
            input {
                width: 280px;
            }
        }
        &[name='registrationForm'],
        &[name='restoreForm'] {
            display: none;
        }
        .success-add {
            margin-bottom: 10px;
        }
        .g-recaptcha {
            width: 305px;
            margin: 0 auto;
        }
    }
    .button {
        width: 393px;
        text-align: center;
        box-sizing: border-box;
        font-size: 20px;
        font-family: $font;
    }
    #ngError {
        width: 390px;
    }
    .pass-reg-links {
        margin-top: 10px;
        .left-part-link {
            float: left;
            font-size: 15px;
            background-color: $mainColor;
            color: #fff;
            padding: 8px 10px;
            border-radius: 4px;
        }
        .register-link {
            float: right;
            font-size: 20px;
            margin-right: 18px;
            background-color: #c00;
            color: #fff;
            padding: 5px 10px;
            border-radius: 4px;
            &:hover {
                background-color: #900;
                color: $mainColor;
            }
        }
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.winter {
    .snow {
        &:before {
            content: " ";
            display: block;
            height: 81px;
            background-image: url('../assets/images/christmas-snow.png');
            background-repeat: repeat-x;
            background-position: bottom;
        }
        &:last-of-type {
            width: 100%;
            height: 81px;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-size: 0;
            list-style: none;
            z-index: -1;
            perspective: 800px;
        }
        &:last-of-type li {
            display: block;
            background-image: url('../assets/images/snow.png');
            height: 1200px;
            width: 200%;
            margin-left: -50%;
            transform: translateY(-600px);
            transform-origin: 0 0;
            background-repeat: repeat;
            animation: snowfall 20s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            pointer-events: none;
        }
        
        &:last-of-type li:nth-child(2) {
            animation: snowfallX 20s linear infinite;
            background-position: 50px 50px;
            transform: translateY(-600px) translateZ(250px);
        }

        /* Hiding for computers with probably less CPU power */
        @media (max-width: 1366px) {
            &:last-of-type li:nth-child(2) {
                display: none;
            }
        }

        @keyframes snowfall {to{transform:translateY(0)}}
        @keyframes snowfallZ{to{transform:translateY(0) translateZ(150px)}}
        @keyframes snowfallX{to{transform:translateY(0) translateZ(250px)}}
        @keyframes snowfallY{to{transform:translateY(0) translateZ(-150px)}}
    }

    .lights {
        z-index: -1;
        width: 100%;
        height: 58px;
        position: fixed;
        display: block;
        background-image: url('../assets/images/christmas-lights.png');
        background-repeat: repeat-x;
        top: 50px;
        left: 0;
    }
}