/* Required for all buttons */
.btn {
    cursor: pointer;
}

/* Required for all forms */
.input-wrapper {
    &.error {
        outline: 1px solid #d00;
    }

    &.custom-control {
        padding-left: 2.5rem;

        .custom-control-indicator {
            width: 2rem;
            height: 2rem;
        }

        .custom-control-description {
            line-height: 2.5rem;
        }
    }
}

.comments {
    margin: 1rem;
}

/* For block-content blocks to look better and not always 100% */
.semi-widths {
    width: 87%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 80%;
    }

    @media (max-width: 425px) {
        width: 100%;
    }
}
    
.open {
    overflow: hidden;
}

/* for smooth :hover transitions */
a {
    transition: .5s;
}

.hidden {
    display: none;
}

.mobile {
    display: none;
}

[v-cloak] .v-cloak--hidden{
  display: none;
}

.template-holder {
    display: none;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    background-image: url('../assets/images/bg3.jpg');
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -100px;

    &.winter {
        background-image:url('../assets/images/bg-christmas.jpg');
    }
}

.page {
    width: 100%;
    flex: 1;
    position: relative;
    margin: 62px auto 0px auto;
    visibility: visible;
    height: auto;
    transition: .5s;

    @include clearfix();
}

.block-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    font-size: 1rem;

    @media (max-width: 425px) {
        padding: 10px;
    }

    h2 {
        text-align: center;
        margin: 10px 0 30px 0;
        text-transform: uppercase;
        font-family: 'Nunito';
        font-weight: bold;
    }
}

#toTop {
    position: fixed;
    background: url('../assets/images/to-top.png') no-repeat 50% 50% #222;
    opacity: 0.7;
    border-radius: $defaultBorderRadius;
    width: 30px;
    height: 35px;
    bottom: 50px;
    right: 40px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    display: none;
    &:hover {
        background-color: #555 !important;
        opacity: 0.8;
    }
}

.maintenance {
	font-size: 2rem;
	text-align: center;
	width: 100%;

    img {
	    display: block;
	    margin: 20px auto 0 auto;
    }
}

.winter {
    .snow {
        &:before {
            content: " ";
            display: block;
            height: 81px;
            background-image: url('../assets/images/christmas-snow.png');
            background-repeat: repeat-x;
            background-position: bottom;
        }
        &:last-of-type {
            width: 100%;
            height: 81px;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            font-size: 0;
            list-style: none;
            z-index: -1;
            perspective: 800px;
        }
        &:last-of-type li {
            display: block;
            background-image: url('../assets/images/snow.png');
            height: 1200px;
            width: 200%;
            margin-left: -50%;
            transform: translateY(-600px);
            transform-origin: 0 0;
            background-repeat: repeat;
            animation: snowfall 20s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            pointer-events: none;
        }
        
        &:last-of-type li:nth-child(2) {
            animation: snowfallX 20s linear infinite;
            background-position: 50px 50px;
            transform: translateY(-600px) translateZ(250px);
        }

        /* Hiding for computers with probably less CPU power */
        @media (max-width: 1366px) {
            &:last-of-type li:nth-child(2) {
                display: none;
            }
        }

        @keyframes snowfall {to{transform:translateY(0)}}
        @keyframes snowfallZ{to{transform:translateY(0) translateZ(150px)}}
        @keyframes snowfallX{to{transform:translateY(0) translateZ(250px)}}
        @keyframes snowfallY{to{transform:translateY(0) translateZ(-150px)}}
    }

    .lights {
        z-index: -1;
        width: 100%;
        height: 58px;
        position: fixed;
        display: block;
        background-image: url('../assets/images/christmas-lights.png');
        background-repeat: repeat-x;
        top: 50px;
        left: 0;
    }
}