<script type="text/x-template" id="article-template">
    <div class="article">
        <div class="block">
            <loading v-if="loading"></loading>

            <div v-if="!loading && !pageError" class="block-content blog-block semi-widths">
                <h2>{{post.title}}</h2>

                <div class="date" v-html="post.date"></div>
                <div class="image-holder" v-html="post.image"></div>
                <div class="text" v-html="post.content"></div>

                <adsense></adsense>
                
                <router-link role="button"
                    class="btn btn-info"
                    v-bind:to="'/blog'">Back to blog</router-link>

                <div class="comments">
                    <vue-disqus shortname="https-www-pcesports-com"></vue-disqus>
                </div>

                <router-link role="button"
                    class="btn btn-info"
                    v-bind:to="'/blog'">Back to blog</router-link>
            </div>

            <div class="maintenance block-content" v-if="pageError">
                <h2>{{pageError}}</h2>
                <img src="/dist/assets/images/maintenance.png" />
            </div>
        </div>
    </div>
</script>