<div class="forgot-password-form">
    <div class="alert alert-success" v-if="restoreSuccess">{{restoreSuccess}}</div>
    <div class="alert alert-danger" v-if="restoreError" v-html="restoreError"></div>

    <form method="post" v-on:submit.prevent="submit()" v-if="!restoreSuccess">
        <div class="input-wrapper">
            <input type="text" v-model="login" placeholder="Email" />
        </div>

        <div class="input-wrapper">
            <div class="g-recaptcha" id="fp-g-recaptcha" :data-sitekey="captchaKey"></div>
        </div>

        <button class="btn btn-primary">Restore password</button>
    </form>

    <a href="javascript:;" v-on:click="openLoginMenu()">Back to login form</a>

    <loading v-if="loading"></loading>
</div>