.events-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .filter-input {
        border: 1px solid #f5f5dc;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 5px 10px;
        width: 60%;
        display: block;
        font-size: 1.3rem;
        font-family: $font;
    }

    .btn {
        cursor: pointer;
        font-size: 1.3rem;

        .fa-globe {
            margin-right: 5px;
        }

        span {
            text-transform: capitalize;
        }
    }
}