<side class="right-side-menu">
    <section class="right-side-wrapper">
        <login v-if="!loggedIn && (form === 'login' || !form) "></login>
        <register v-if="!loggedIn && form === 'register'"></register>
        <div class="right-side-logged-in-menu" v-if="loggedIn">
            <loading v-if="!menu"></loading>
            <nav v-else>
                <div class="nav-user" v-if="userData.avatar">
                    <div class="nav-avatar">
                        <img v-bind:src="'/dist/assets/images/avatar/'+userData.avatar+'.jpg'" />
                    </div>
                    <div class="nav-username">{{userData.name}}</div>
                    <p class="nav-points">Points: <span class="achievementsPoints">{{userData.experience}}</span></p>
                </div>
                
                <ul v-on:click="triggerClick()">
                    <li :class="'nav-link ' + link.css_classes" v-for="(link, key) in menu">
                        <a v-if="link.target" :href="link.url" :target="link.target">{{link.title}}</a>
                        <router-link v-else :to="link.url" :target="link.target" exact>{{link.title}}</router-link>

                        <ul class="nav-sub" v-if="link.sublinks">
                            <li :class="'nav-sublink ' + sublink.css_classes" v-for="(sublink, subkey) in link.sublinks">
                                <a v-if="sublink.target" :href="sublink.url" :target="sublink.target">{{sublink.title}}</a>
                                <router-link v-else :to="sublink.url" :target="sublink.target">{{sublink.title}}</router-link>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-link logout-link">
                        <a href="javascript:;" v-on:click="logout()">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="side-menu-cover" v-on:click="triggerClick()"><i class="fa fa-times burger-closer"></i></div>
</side>