<div class="ga">
    <ins class="adsbygoogle"
        v-if="canRunAds"
        data-ad-client="ca-pub-5398156195893681"
        data-ad-slot="1135872653"></ins>
    <div v-else class="alert alert-danger">
        ADs blocked.. It's fine, we really hate ADs too. We would like to get rid of ADs completely. But unfortunatelly we don't sell any merchandise, so it's the only way for website to generate some revenue. To help us grow and get rid of ADs, <a href="https://www.patreon.com/pcesports" target="_blank">consider become to a patron.</a>
    </div>
</div>