.ga {
    width: 90%;
    max-height: 100px;
    margin: 1rem auto;
    overflow: hidden;

    .adsbygoogle {
        display: block;
        min-height: 100px;
    }

    .alert {
        text-align: left;
    }
}