.events {
    .event-list-wrapper {
        background-color: #ddd;
        border-bottom: 2px solid #000;
    }

    .event-item {
        display: flex;
    }

    .event-image {
        margin: 5px 0;
    }

    .event-name-info {
        padding: 10px 0;

        .event-name {
            width: 95%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}