.events {
    .block-content {
        background-color: #222;
        h2 {color: #fff;}
    }

    .event-list-wrapper {
        background-color: #f5f5dc;
    }

    .event-item {
        display: flex;
        color: #333;
        border-bottom: 2px solid #000;
    }

    .event-none {
        font-style: italic;
        text-align: center;
        padding: 10px 0;
        font-size: 1.1rem;
    }

    .event-image {
        margin: 5px 0;
    }

    .event-name-info {
        padding: 10px 0;

        .event-name {
            width: 95%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .event-status-links {
        padding: 10px 0;

        .event-status {
            font-size: 1.1rem;
            text-transform: uppercase;

            &.started {
                color: #900;
            }
            &.starting {
                color: #ec971f;
            }
            &.upcoming {
                color: #090;
            }
        }

        .event-links a {
            font-size: 1.4rem;
            padding-right: 10px;
        }
    }

    .event-details .btn {
        cursor: pointer;
        margin: 18px 0;
    }

    .events-filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .filter-input {
            border: 1px solid #f5f5dc;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5px 10px;
            width: 60%;
            display: block;
            font-size: 1.3rem;
            font-family: $font;
        }

        .btn {
            cursor: pointer;
            font-size: 1.3rem;

            .fa-globe {
                margin-right: 5px;
            }
        }
    }
}