<script type="text/x-template" id="events-template">
    <div class="events">
        <div class="block">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <h2 v-if="!loading">{{currentGame.name}} tournaments</h2>

                <div class="event-list-wrapper" v-for="game in games" v-if="!loading">
                    <div class="event-item col-12">
                        <img class="event-image col-1" :src="'../../dist/assets/images/' + game.game +'.png'" />
                        <div class="event-name-info col-7">
                            <h4 class="event-name">{{game.name}}</h4>
                            <div><i class="fa fa-globe"></i> {{game.region}} | <i class="fa fa-calendar"></i> {{game.startTime}} | <i class="fa fa-users"></i> {{game.participantsLimit}}</div>
                        </div>
                        <div class="event-organizer col-2"></div>
                        <div class="event-status-links col-1">
                            <div class="event-status">{{game.eventStatus}}</div>
                            <div class="event-links">
                                <a :href="game.link" target="_blank"><i class="fa external-link"></a>
                                <a :href="game.fbLink" target="_blank" v-if="game.fbLink"><i class="fa facebook"></a>
                                <a :href="game.ytLink" target="_blank" v-if="game.ytLink"><i class="fa youtube"></a>
                                <a :href="game.twLink" target="_blank" v-if="game.twLink"><i class="fa twitch"></a>
                                <a :href="game.dsLink" target="_blank" v-if="game.dsLink"><i class="fa comments"></a>
                            </div>
                        </div>
                        <div class="event-details col-1">
                            <router-link
                                :to="'/'+game.id">
                                <button class="btn btn-primary">Details</button>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>