<script type="text/x-template" id="events-template">
    <div class="events">
        <div class="block">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <h2 v-if="!loading">{{currentGame.name}} tournaments</h2>

                <div class="events-filters" v-if="!loading">
                    <input class="filter-input" type="text" placeholder="Region (North America / Europe), Name or Status (Started/Upcoming)" />

                    <div class="btn-group" :class="{ 'show': status.open }">
                        <button class="btn btn-secondary dropdown-toggle"
                            v-on:click="status.open ? status.open = false : status.open = true">
                            <i class="fa fa-check-circle-o"></i> {{status.name}}</i>
                        </button>

                        <div class="dropdown-menu">
                            <button type="link"
                                class="dropdown-item"
                                :class="{ 'active': status.current === null }"
                                v-on:click="status.open = false; status.current = null; fetchEventData();">All</button>

                            <div class="dropdown-divider"></div>

                            <button type="link"
                                class="dropdown-item"
                                :class="{ 'active': status.current == value }"
                                v-for="value in status.list"
                                v-on:click="status.open = false; status.current = value; fetchEventData();">{{value}}</button>
                        </div>
                    </div>

                    <div class="btn-group" :class="{ 'show': region.open }">
                        <button class="btn btn-primary dropdown-toggle"
                            v-on:click="region.open ? region.open = false : region.open = true">
                            <i class="fa fa-globe"></i> {{region.name}} <i class="fa fa-chevron-down"></i>
                        </button>

                        <div class="dropdown-menu">
                            <button type="link"
                                class="dropdown-item"
                                :class="{ 'active': region.current === null }"
                                v-on:click="region.open = false; region.current = null; fetchEventData();">All</button>

                            <div class="dropdown-divider"></div>

                            <button type="link"
                                class="dropdown-item"
                                :class="{ 'active': region.current == key }"
                                v-for="value, key in region.list"
                                v-on:click="region.open = false; region.current = key; fetchEventData();">{{value}}</button>
                        </div>
                    </div>
                </div>

                <div class="event-list-wrapper" v-if="games">
                    <div class="event-item col-12" v-for="game in games">
                        <div class="col-1">
                            <img class="event-image" :src="'../../dist/assets/images/' + game.game +'.png'" />
                        </div>
                        <div class="event-name-info col-7">
                            <h4 class="event-name" :title="game.name">{{game.name}}</h4>
                            <div><i class="fa fa-globe"></i> {{game.region}} | <i class="fa fa-calendar"></i> {{game.startTime}} | <i class="fa fa-users"></i> {{game.participantsLimit}}</div>
                        </div>
                        <div class="event-organizer col-1"></div>
                        <div class="event-status-links col-2">
                            <div class="event-status" :class="game.eventStatus.toLowerCase()">{{game.eventStatus}}</div>
                            <div class="event-links">
                                <a :href="game.link" target="_blank" title="External source link"><i class="fa fa-external-link"></a>
                                <a :href="game.fbLink" target="_blank" v-if="game.fbLink" title="Facebook"><i class="fa fa-facebook"></a>
                                <a :href="game.ytLink" target="_blank" v-if="game.ytLink" title="Youtube"><i class="fa fa-youtube"></a>
                                <a :href="game.twLink" target="_blank" v-if="game.twLink" title="Twitch"><i class="fa fa-twitch"></a>
                                <a :href="game.dsLink" target="_blank" v-if="game.dsLink" title="Discord"><i class="fa fa-comments"></a>
                            </div>
                        </div>
                        <div class="event-details col-1">
                            <router-link
                                :to="'/events/' + getGameLink(game.game) + '/' + game.id">
                                <button class="btn btn-success">Details</button>
                            </router-link>
                        </div>
                    </div>
                </div>
                <div class="event-list-wrapper" v-else>
                    <div class="event-none col-12">There are no tournaments available</div>
                </div>
            </div>
        </div>
    </div>
</script>