<script type="text/x-template" id="events-template">
    <div class="events">
        <div class="block">
            <div class="block-content">
                <loading v-if="loading"></loading>

                <h2>{{currentGame.name}} tournaments</h2>

                <!--<events-filters :status="status"
                    :region="region"
                    :search-string="searchString"
                    :current-game="currentGame"
                    ></events-filters>-->

                <div class="events-filters">
                    <input class="filter-input"
                        type="text"
                        placeholder="Input name of event and press enter"
                        v-model="searchString"
                        v-on:keyup.enter="searchString.length >= 3 ? fetchEventData() : false"
                        v-on:keydown.8="cleanSearch(true)"
                        v-on:keydown.46="cleanSearch(true)"
                        v-on:keyup.8="cleanSearch(false)"
                        v-on:keyup.46="cleanSearch(false)"
                         />

                    <select class="form-control form-control-lg btn-secondary"
                        v-model="status.current"
                        v-on:change="fetchEventData()">
                        <option :value="value" v-for="value in status.list">
                                {{status.name}}: {{value}}
                        </option>
                    </select>

                    <select class="form-control form-control-lg btn-primary"
                        v-model="region.current"
                        v-on:change="fetchEventData()">
                        <option :value="key" v-for="(value, key) in region.list">
                                {{region.name}}: {{value}}
                        </option>
                    </select>
                </div>

                <div class="event-table-notification alert alert-info">Table can be scrolled horizontally</div>
                <div class="event-list-wrapper" v-if="games.length">
                    <event-item
                        :game="game"
                        v-for="game in games"></event-item>
                </div>
                <div class="event-list-wrapper" v-else>
                    <div class="event-none col-12">There are no tournaments tournaments matching criteria</div>
                </div>

                <button class="load-more btn btn-lg btn-primary"
                    v-on:click="loadMore()"
                    v-if="!hideLoadMore"
                    :disabled="loadingMore">Load more</button>
            </div>
        </div>
    </div>
</script>