<script type="text/x-template" id="settings-template">
    <div class="profile">
        <div class="block">
            <div class="block-content semi-widths">
                <loading v-if="loading"></loading>

                <section class="profile-wrapper" v-if="!loading">
                    <h4>Settings</h4>

                    <div class="alert alert-danger" v-if="formError" v-html="formError"></div>

                    <form method="post" v-on:submit.prevent="submit()">
                        <div class="heading-text">Here you can change website settings and your personal settings. This data is private and is not displayed on your profile.</div>

                        <div class="input-wrapper input-group form-group"
                            :class="{ error: errorClasses.timestyle }">
                            <div class="input-group-addon fa fa-clock-o"></div>
                            <select class="custom-select" v-model="form.timestyle">
                                <option value="">Please choose preferred time style</option>
                                <option value="0">12:00 AM/PM</option>
                                <option value="1">24:00</option>
                            </select>
                        </div>

                        <label class="input-wrapper input-group form-group custom-control custom-checkbox"
                            :class="{ error: errorClasses.subscribe }">
                            <input type="checkbox"
                                class="custom-control-input"
                                v-model="form.subscription"
                                :checked="form.subscription">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Subscribe to mail list</span>
                        </label>

                        <button class="btn btn-primary btn-lg" :disabled="formLoading">Update settings</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</script>