<div class="login-form">
    <div class="alert alert-danger" v-if="loginError">{{loginError}}</div>

    <form method="post" v-on:submit.prevent="submit()">
        <div class="input-wrapper">
            <input type="text" v-model="login" placeholder="Email" />
        </div>
        <div class="input-wrapper">
            <input type="password" v-model="pass" placeholder="Password" />
        </div>

        <button class="btn btn-primary" :disabled="formLoading">Login</button>
    </form>

    <a href="javascript:;" v-on:click="openForgotPassMenu()">Forgot password?</a>
</div>