.blog {
    .blog-block {
        position: relative;
        padding: 0;
        margin: 0 auto 25px auto;
        color: #000;

        .image-holder {
            display: block;
            width: 100%;
            max-height: 370px;
            text-align: center;
            font-weight: bold;
            overflow-x: hidden;

            @media (max-width: 768px) {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .date {
            position: absolute;
            top: 20px;
            left: -65px;
            width: 65px;
            box-shadow: inset -3px 0 3px 0 rgba(0,0,0,0.2);
            text-align: center;
            font-size: 1rem;
            font-weight: bold;
            padding: 1rem;
            color: #fff;
            background: linear-gradient(to bottom,  #27c6d0 0%,#217fbb 100%);

            @media (max-width: 767px) {
                left: 0;
                top: 0;
                padding: 0.2em 0.4em;
                width: auto;
            }
        }

        .title {
            padding: 20px 20px 0 20px;
        }

        .text {
            padding: 20px 20px 0 20px;
            margin: 0 0 20px 0;
        }

        .btn {
            float: right;
            margin: 0 20px 20px 0;
        }

        @include clearfix();
    }

    .pages {
        margin: 0 auto;
    }
}