footer {
    flex: none;
    background-color: rgba(25, 25, 25, 0.9);
    color: #888;
    border-top: 2px solid $mainColor;
    font-size: 0.75rem;
    visibility: visible;
    height: auto;

    @include clearfix();

    .copyrights {
        float: left;
        margin: 10px 0 10px 7.5%;
    }

    .footer-links {
        float: right;
        margin: 5px 7.5% 5px 0;

        .fa {
            font-size: 1.6rem;
            margin-right: 0.5rem;
        }
    }
}