<footer>
    <p class="copyrights">© 2014 - {{year}} PCeSports.com / <a href="https://maxorlovsky.com" target="_blank">Maxtream</a>.</p>
    <div class="footer-links">
        <a href="https://twitter.com/pcesports"><i class="fa fa-twitter"></i></a>
        <a href="https://www.reddit.com/r/pcesports/"><i class="fa fa-reddit"></i></a>
        <a href="https://www.youtube.com/user/pentaclickesports"><i class="fa fa-youtube"></i></a>
        <!--<a href="../pentaclick">About PC eSports</a> | 
        <a href="../contacts">Contacts</a>-->
    </div>
</footer>