<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Hello %name%!<br />
<br />
It looks like you decided to change email?!<br />
If yes, please proceed to this link, to changes take effect: <a href="%url%" target="_blank">%url%</a><br />
If you receive this email by mistake, then someone probably messing with you, just ignore it.<br />
<br />
Have a nice day!<br />
Pentaclick eSports<br />
<br />
<div style="font-size: 13px;">
    <i>web: <a href="http://www.pceports.com" target="_blank">http://www.pceports.com</a></i><br />
    <i>email: <a href="mailto:info@pcesports.com">info@pcesports.com</a></i>
</div>

</div>

</body>
</html>