<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Hello <b>%name%</b><br />
<br />
Your were successfully registered in the %tournamentName%.<br/>
<b>Link to your profile where you can edit your information is available here: <a href="%url%" target="_blank">%url%</a></b><br />
<p style="color: red;">Use link carefully, don't display it to public and don't give it to anyone else!</p>
%additionalText%<br />
<br />
Wish you all the best!<br />
%teamName%<br />
</div>

</body>
</html>