<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div>

Hello <b>%name%</b><br />
<br />
This is just a friendly reminder. Don't forget that <b>%tournamentName%</b> will start tomorrow at 12:00 by Tallinn/Riga/Vilnius time!<br />
<b>You must check-in 1 hour before tournaments starts and complete the procedure! <span style="color: red;">Or you will be considered as offline participant and disqualified!</span></b><br />
<br />
Your profiler link where you can edit your data and you will see a chat with your opponent + brackets: <a href="%url%" target="_blank">%url%</a><br />
<br />
See you tomorrow!<br />
%teamName%<br />
</div>

</body>
</html>