<section class="content">
	<h2>Some info about me</h2>
	<ul>
		<li>Started to play around with websites since was 16 y/o (~12 years ago)</li>
		<li>Since 2009 doing it professionaly</li>
		<li>Experienced freelance for 3 years. Received invaluable knowledge of full workflow: from finding client, to talking with client, to prototyping, design, front end, back end development, deployment and support of the project</li>
		<li>Trying to be simple if possible</li>
		<li>Believe that skills must be proven by actions rather than words</li>
		<li>Hate to argue what better, Android or iOS, Windows or Ubuntu, MySQL or MongoDB, PHP or .NET. This is all technogoly and I love all technology!</li>
		<li>My recent interest is Frontend development using AngularJS</li>
		<li>Currently working as Frontend Developer for company <a href="http://www.greentube.com" target="_blank">Greentube</a></li>
	</ul>
</section>