.event-item {
    display: flex;
    color: #333;
    border-bottom: 2px solid #000;
    align-items: center;
    padding: 10px 0;
    min-width: 900px;

    &.editable {
        min-width: 990px;
    }

    .event-image {
        min-width: 94px;
        padding: 0 15px;
        width: 5%;
    }

    .event-name-info {
        min-width: 455px;
        width: 100%;
        color: #333;

        .event-name {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .event-organizer {
        text-align: center;
        min-width: 74px;
        
        img {
            height: 48px;
        }
    }

    .event-status-links {
        min-width: 175px;

        .event-status {
            font-size: 1.1rem;
            text-transform: uppercase;

            &.started {
                color: #900;
            }
            &.starting {
                color: #ec971f;
            }
            &.upcoming {
                color: #090;
            }
        }

        .event-links a {
            font-size: 1.4rem;
            padding-right: 10px;
        }
    }

    .event-details {
        text-align: center;
        margin: 0 10px;
        min-width: 90px;

        .btn {
            cursor: pointer;
        }

        &.double-width {
            min-width: 180px;
        }
    }
}