<div class="event-item">
    <img src="../dist/assets/images/lol.png" />
    <div class="event-name-info">
        <h3 class="event-name">{{game.name}}</h3>
        <div>* {{game.region}} | * {{game.start_datetime}} | Max slots: {{game.participants_limit}}</div>
    </div>
    <div class="event-organizer"></div>
    <div class="event-status-links">
        <div class="event-status">Registration/Live</div>
        <div class="event-links">
            Links to event
        </div>
    </div>
</div>