.right-block {
    min-width: 280px;
    width: 27%;
    float: right;

    .block {
        margin-bottom: 40px;
    }

    .social {
        text-align: center;

        a {
            background-image: url('../assets/images/icons.png?2');
            height: 36px;
            display: inline-block;
            margin-right: 10px;

            &.fb {
                background-position: 0px 0px;
                width: 39px;
                &:hover {
                    background-position: 0px -46px;
                }
            }

            &.tw {
                background-position: -47px 0px;
                width: 35px;
                &:hover {
                    background-position: -47px -46px;
                }
            }

            &.gp {
                background-position: -92px 0px;
                width: 36px;
                &:hover {
                    background-position: -74px -46px;
                }
            }

            &.yt {
                background-position: -136px 0px;
                width: 36px;
                &:hover {
                    background-position: -136px -46px;
                }
            }

            &.tv {
                background-position: -222px 0px;
                width: 36px;
                &:hover {
                    background-position: -222px -46px;
                }
            }

            &.vk {
                background-position: -212px 0px;
                width: 28px;
                &:hover {
                    background-position: -212px -46px;
                }
            }

            &.sm {
                background-position: -178px 0px;
                width: 36px;
                &:hover {
                    background-position: -178px -46px;
                }
            }
        }
    }
}