<aside class="right-block">
    <div class="block">
        <div class="block-header-wrapper">
            <h1>Follow for more news</h1>
        </div>

        <div class="block-content social">
            <a class="tw hint" attr-msg="Twitter" href="https://twitter.com/pcesports" target="_blank"></a>
            <a class="yt hint" attr-msg="YouTube" href="https://www.youtube.com/c/pentaclickesports" target="_blank"></a>
            <a class="tv hint" attr-msg="Twitch.TV" href="http://www.twitch.tv/pentaclick_tv" target="_blank"></a>
        </div>
    </div>

    <div class="block sense">
        <div class="ad-holder block-content">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Right block -->
            <ins class="adsbygoogle"
                style="display:inline-block;width:280px;height:230px"
                data-ad-client="ca-pub-5398156195893681"
                data-ad-slot="6366917450"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="survive block-content">
            We detected that you might use AdBlock. You might not know, that PC eSports is running completely out of our pockets and small advertisement revenue that we get. You would be a project savior and helped us a lot, if you added our website to your adblock whitelist. Thank you.
        </div>
    </div>
</aside>